/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */

BODY { font-family: Verdana,Arial,Helvetica,sans-serif; }

H1 { font-family: Verdana,Helvetica; color: navy; }
H2 { font-family: Verdana,Arial,Helvetica,Lucida; color: midnightblue; FONT-SIZE: 100%; }

TD {font-family: Verdana,Arial,Helvetica,Helv,sans-serif;}
TH {font-family: Verdana,Arial,Helvetica,Helv,sans-serif;}


TABLE.tableentry { background-color: #FFDF52 }
TABLE.tableresult { background-color: #d0ffd0 }

A { TEXT-DECORATION: none }

A:hover { TEXT-DECORATION: underline }

.filelist { font-family: Tahoma, sans-serif; background-color: #eeeeee; color: Black; border: 1px #dddddd solid; }

TD.heading {font-family: Verdana,Arial,Helvetica,Helv,sans-serif; font-weight:bold;}
TD.error {font-family: Verdana,Arial,Helvetica,Helv,sans-serif; color:red; }
