/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

  #mail_nav,#tree,#buttons,#header,#tools{display:none}

  #content {
    font: 12px verdana, arial, sans-serif;
    margin: 1px 1px 1px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #C1C1C1;
  }


  #content tbody th{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C1C1C1;
    font-weight:bold;
    padding: 4px;
    text-align: right;
  }


  #content tbody td{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C1C1C1;
    padding: 2px;
  }

