/*
 *  $Id: dav_browser.css,v 1.3 2013/03/13 13:29:51 ddimitrov Exp $
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: blue;
	cursor: pointer;
}

/* Fields */
.field-text {
  width: 500px;
}

.field-short {
  width: 250px;
}

.field-shorter {
  width: 125px;
}

.field-max {
  width: 98%;
}

.tab_page {
  font-size: 10pt;
  border-top: solid 1px #7f94a5;
  border-left: solid 1px #7f94a5;
  border-right: solid 1px #7f94a5;
  border-bottom: solid 1px #7f94a5;
  background-color: white;
  padding-left: 1px;
  padding-right: 1px;
  color: black;
  width: 100%;
  height: 100%;
}

/* td names label subject data... */
input.header {
  margin: .2em 0 .1em 0;
  font-size: 11px;
  font-weight: bold;
  border: none;
  background: #b0cde4;
}

/* tabs */
div.c1 {
  width: 100%;
  padding-top: 0.5em;
}

div.tabs {
  top: 0px;
  margin-top: 0;
  font-size: 100%;
  padding: 0px 0px 3px 0px;
}

div.contents {
  padding: 0.5em;
  border: 1px solid #7f94a5;
  background-color: #EFEFEF;
}

div.tabLabel {
  display: inline;
  margin: 0px 2px 0px 0px;
}

div.tabContent {
  font-size: 1em;
  padding: 6px;
}

div.tab {
  cursor: pointer;
  display: inline;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 2px 10px 2px 10px;
  margin-right: 3px;
  position: relative;
  text-decoration: none;
  top: 3px;
  z-index: 100;
}

div.activeTab {
  background-color: #EFEFEF;
  border-color: #7f94a5;
}

a.tab {
  color: #000;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: 2px;
  z-index: 100;
}

table.box {
  width: 100%;
  color: black;
  background-color: white;
  margin: 0px;
  margin-bottom: 0.5em;
  padding: 0px;
}

div.boxHeader {
  background-color: #EFEFEF;
  margin: 0 0 0.5em 0;
  padding: 2px;
  border: 1px solid #7f94a5;
  vertical-align: middle;
}

div.boxFooter {
  left:0;
  right:0;
  bottom: 0;
  position: absolute;
  background-color: #B0CDE4;
  padding: 2px;
  border: 1px solid #7f94a5;
  vertical-align: middle;
}

input.nolink {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  border: 0px;
  background-color: inherit;
}

/* Toolbars */
span.toolbar {
  display: block;
  float: left;
  width: 70px;
  padding: 10px 0 10px 0;
  color: #4F56A6;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

span.toolbarLabel {
  font-size: 0.8em;
}

img.toolbar {
  display: block;
  float: left;
  margin-top: 10px;
  background-color: #7F94A5;
}

.text {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

.helpText {
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
}

#dav_list {
  background-color: white;
  width: 100%;
  min-height: 350px;
  overflow: auto;
  position: relative;
}

span.button, a.button {
  background: none repeat scroll 0 0 #99B3C5;
  border: 1px solid #7F94A5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px 4px 1px;
  text-decoration:none;
  vertical-align: middle;
}

img.button {
  margin-bottom: -3px;
}

/* ODS grid */
table.WEBDAV_grid {
  width: 100%;
  background-color: white;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  border-spacing: 0;
}

table.WEBDAV_grid thead tr {
  background-color: #b0cde4;
}

table.WEBDAV_grid tbody tr:nth-child(odd) {
  background-color:#f0f0f0;
}

table.WEBDAV_grid tbody tr:nth-child(even) {
  background-color:#fff;
}

table.WEBDAV_grid thead tr th {
  text-align: left !important;
  white-space: nowrap;
  padding-left: 3px;
  border: solid #7f94a5;
  border-width: 0px 1px 1px 0px;
  background-image: url(/conductor/dav/image/stl_blu1_grad.gif);
  background-repeat: repeat-x;
}

table.WEBDAV_grid thead tr th[onclick] {
  cursor: pointer;
}

table.WEBDAV_grid thead tr th:last-child {
  border-width: 0px 0px 1px 0px;
}

table.WEBDAV_grid th.checkbox, table.WEBDAV_grid td.checkbox {
  width: 1px;
  text-align: center;
  margin: 0;
  padding: 0.5px;
}

table.WEBDAV_grid td.number {
  width: 1px;
  text-align: right;
}

table.WEBDAV_grid th.action, table.WEBDAV_grid td.action {
  width: 1px;
  white-space: nowrap;
}

table.WEBDAV_grid td.normalWrap {
  white-space: normal;
}

table.WEBDAV_grid tbody tr:hover {
 	background-color: #eec;
}

table.WEBDAV_grid td {
  padding: 2px 3px;
  white-space: nowrap;
}

table.WEBDAV_grid tfoot td {
  padding: 2px 3px 3px 3px;
  border: solid #7f94a5;
  border-width: 1px 0px 0px 0px;
}

/* Forms */
.WEBDAV_formHeader {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 8px 0;
  padding: 0px 0px 3px 4px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 10px;
  background-color: #B0CDE4;
}

.WEBDAV_formFooter {
  margin: 6px 0px;
  text-align: center;
  border: solid 1px #7f94a5;
  background-color: #B0CDE4;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 2px;
}

table.WEBDAV_formBody {
  font-size: 1em;
  padding: 6px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #EFEFEF;
  width: 100%;
}

table.WEBDAV_noBorder {
  border-width: 0px;
}

table.WEBDAV_formBody td {
  padding: 2px;
}

table.WEBDAV_formBody th {
  text-align: right;
  white-space: nowrap;
  padding: 2px 4px 2px 4px;
}

table.WEBDAV_formList {
  width: 100%;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #fff;
}

table.WEBDAV_formList tr th {
  text-align: center;
  white-space: nowrap;
  font-size: 1em;
  font-weight: bold;
  padding: 2px 4px 2px 4px;
  border: solid #7f94a5;
  background-color: #b0cde4;
  border-width: 0px 1px 1px 0px;
}

table.WEBDAV_formList th:last-child {
  border-width: 0px 0px 1px 0px;
}

table.WEBDAV_formList td {
  border: solid #7f94a5;
  border-width: 0px 0px 0px 0px;
  padding: 2px 4px 2px 4px;
  background-color: #FFF;
}

table.WEBDAV_formList tbody tr:nth-child(odd) {
  background-color:#fff;
}

table.WEBDAV_formList tbody tr:nth-child(even) {
  background-color:#f0f0f0;
}

/* Form lists */
.WEBDAV_permissionList {
  text-align: center;
}

.WEBDAV_permissionList th {
  text-align: center;
  padding: 2px 4px 2px 4px;
  border: solid #7f94a5;
  background-color: #b0cde4;
  border-width: 1px 0px 0px 1px;
  font-weight: bold;
}

.WEBDAV_permissionList td.right, .WEBDAV_permissionList th.right {
  border-right-width: 1px;
}

.WEBDAV_permissionList td.bottom, .WEBDAV_permissionList th.bottom {
  border-bottom-width: 1px;
}

.WEBDAV_permissionList td {
  text-align: center;
  padding: 2px;
  background-color: #fff;
  border: solid #7f94a5;
  border-width: 1px 0px 0px 1px;
}

.WEBDAV_a:visited {
  color:blue;
}

.WEBDAV_a:hover {
  text-decoration: none;
}

/* Menus */

a.WEBDAV_menuItem {
  font-family: verdana, sans-serif;
  text-align: left;
  font-size: 11px;
}

div.WEBDAV_menu {
  background-color: #EFEFEF;
  border: 1px solid;
  border-color: #f0f0f0 #7f94a5 #7f94a5 #f0f0f0;
  margin:0px 0px 0px 9px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  vertical-align:bottom;
  z-index: 101;
}

div.WEBDAV_menu a.WEBDAV_menuItem {
  cursor: pointer;
  display: block;
  font-size: .8em;
  font-family: verdana, sans-serif;
  font-weight: bold;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.WEBDAV_menu a.WEBDAV_menuItem:hover {
  background-color: #99B3C5;
  color: #ffffff;
}

div.WEBDAV_menu div.WEBDAV_menuItemSep {
  border-top: 1px solid #7f94a5;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}

/* Menus */

.combo_list_list {
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  height: 100px;
  overflow: auto;
}

.combo_list_option:hover {
  background-color: #0080FF;
  color: white;
}
