/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */

div#machinetranslation {
  float: right;
  position: absolute;
  top: 64px;
  right: 280px;
  left: auto;
  width: 250px;
  white-space: nowrap;
  height: 18px;
}

div#machinetranslation h3 {
  display: none;
}

div#machinetranslation ul, div#machinetranslation ul li {
  xfloat: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}

div#machinetranslation ul li {
  margin-left: 0.3em;
}
div#machinetranslation a span {
  display: none;
}

div#machinetranslation a {
  text-decoration: none;  
  color: white;
  background: transparent;
  font-family: Tahoma, Verdana, Arial, Sans-Serif; 
  font-size: 0.85em;
}

div#machinetranslation a img {
  position: relative;
  top: 5px;
  left: auto;
  right: auto;
  bottom: auto;
  border: 0px;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

