/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

li: hover
{
  cursor:pointer;
}

#welcome
{
  border:1px solid #C0C0C0;
  padding:5px;
  margin:5px;
}

#welcome h2
{
  margin-top:0;
}

#wrapper
{
	padding: 0px;
	margin: 2px auto;
	width: 760px;
	text-align: left;
  border:1px solid #C0C0C0;
  background:#fff;
}

#wrapper_if {
	padding: 0px;
	margin: 0 auto;
	text-align: left;
  border:1px solid #C0C0C0;
  background:#EAEAEE;
}

#head
{
  width: 100%;
  height: 90px;
  border-bottom:1px solid #E2E2E2;
}

#head h1
{
  margin-top:0;
  color:#fff;
  text-align:left;
  padding:4px;
  font-size:22px;
  display:none;
}
#instance_info
{
font-size:13px;
margin: 10px 5px 0px 5px;
float:left;
}

#nav {
  display: inline;
  padding:0px;
  background:#fff;
  margin: 0 auto;
  height: 15px;
  float: right;

}


#nav ul{
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style: none;

}


#nav li{
  font-size:12px;
  text-align:center;
  float:left;
  margin:0px;
  margin-left:2px;
  color:#000;
  width:102px;
  cursor:pointer;
  background: url(../i/tab.png) no-repeat;
}

#nav li#hello
{
  border-style:none;
  background:none;
  width:5px;
  text-align:left;
}

#nav li.on
{
  background:#99B3C5;
  color:#fff;
}

#grad
{
  background: url(../i/grad_1.gif) repeat-x;
  font-size:15px;
}


#left_col{
  width:175px;
}
#right_col{
}


.toolbar{
}

.toolbar h3{
  background:url(../i/thead.png) no-repeat;
  font-size:12px;
  font-weight: normal;
  text-align:center;
  margin: 0px;
}

.toolbar h4{
  font-weight:normal;
  font-size:12px;
  text-align:center;
  margin-bottom:0px;
}

.toolbar ul{
  padding:0;
  margin: 6px 0 12px 12px;
  cursor:pointer;
  list-style: none;
}

.toolbar ul li{
  margin:0px;
  font-size:12px;
  color:#0000EE;
  text-decoration:underline;
  padding-bottom:4px;
}



#albums{

}

#albums div {
  float:left;
  width: 171px;
  height:153px;
  text-align:center;
  margin:8px;
  font-size:12px;
  font-family: Verdana;

  cursor:pointer;
}

#albums div span{
  width:100px;
  height:100px;
}


div.album {
  float:left;
  width: 171px;
  height:153px;
  text-align:center;
  margin:8px;
  font-size:12px;
  font-family: Verdana;
  background:#A4C6E1 url(../i/notebook-75-blue.png) no-repeat;
  cursor:pointer;
}
div.album_obsolete {
  float:left;
  width: 171px;
  height:153px;
  text-align:center;
  margin:8px;
  font-size:12px;
  font-family: Verdana;
  background-image: url(../i/notebook-75-gray.png);
  cursor:pointer;
}

#new_album,
#edit_album
{
  padding:10px;
}

#new_album_name,
#edit_album_name
{
  width:300px;
}

#new_album_description,
#edit_album_description
{
  width:300px;
}

#new_album_lng,
#new_album_lat,
#edit_album_lng,
#edit_album_lat{
  width:80px;

}


#new_album_start_date_selector,
#new_album_end_date_selector,
#edit_album_start_date_selector,
#edit_album_end_date_selector
{
  vertical-align: text-bottom;
}


#images {
  clear:both;
  text-align:center;
}

#images div
{
  border:1px solid #ADC9E0;
  float:left;
  text-align:center;
  padding:2px;
  margin:0px;
  font-size:12px;
  width:100px;
  height:90px;
  overflow:hidden;
  position:relative;
}

div#images_ctrl
{
  border: 0px;
  font-size:12px;
  width:96px;
  height:15px;
  overflow:hidden;
  left: 0px;
  bottom: 0px;
  position:absolute;
}

div#imageCaptionContainer
{
  border:0px solid red;
  padding: 0px;
  margin: 6px;
  width:106px;
  height:130px;
  text-align:left;
  word-wrap: break-word;
}

div#mssage
{
  border:1px solid #ADC9E0;
  text-align:center;
  padding:2px;
  margin:6px;
  font-size:12px;
  width:400px !important;
}

#images div input
{
  padding:0;
  position:absolute;
  bottom:0px;
  left:0px;
}

#preview input
{
  margin-top:-15px;
  margin-left:0px;
  padding:0;
}

#info
{
  margin-bottom: 10px;
  height:100px;
  border-bottom:1px solid #CCCCCC;
}

#info #path
{
  font-size:12px;
}

#info #info_discription
{
  font-size:12px;
  height:40px;
}

#title
{
  float:left;
  width:305px;
  color:#525252;
}

#title h3
{
  font-size:16px;
  margin-top:0px;
  margin-bottom:0px;
}

#path_my_albums,
#path_pub_date,
#path_album_name
{
  color:#2174C2;
  text-decoration:underline;
  cursor:pointer;
}

#preview_nav
{
  float:right;
  width:220px;
  text-align:center;
  font-size:10px;
  margin:5px;
}

#preview_nav #preview_left
{
  width:100px;
  float:left;
}

#preview_nav #preview_right
{
  width:100px;
  float: right;
}

#image {
  width:500px;
  height:370px;
}

#image img,
#preview_nav img#img,
#images #preview img
{
  border:8px solid #fff;
}

#move_button
{
  vertical-align:middle;
}

#setthumb_button
{
  float:right;
  padding: 2px 0px 0px 0px;
}

#label_slideshow_status
{
  padding-top:10px;
  text-decoration:none;
  color:#000000;
  font-size:12px;
}

#error_box div
{
  border:1px solid #f00;
  margin:5px;
  padding:10px;
  background-color:#FFFF80;
}

.close_button
{
  float:right;
  padding:1px 2px;
  font:10px Verdana;
  font-weight:bold;
  margin-top:-5px;
  margin-right:-5px;
  cursor:pointer;
}

#my_albums .button{
  border:1px solid;
  background:#ccc;
  padding:2px;
  margin:2px;
}

#message
{
  margin:100px 0;
}

.block{
  clear:both;
  padding:5px;
}

.block .frame
{
}

.block td
{
  font-size:12px;
}

.block td.left
{
  width:300px;
}

.block h2{
  margin:5px 0 0;
  font-size: 12px ;
  border-bottom:1px solid #D6E6F6;
}

.block h2.ctr{
  background:url(../i/comments.png) no-repeat;
  padding-left:20px;
}

#comments_list
{
  margin-bottom:5px;
}


#comments_list h3
{
  color:#999999;
  font-size:10px;
  margin:0;
}


#comments_list span
{
  font-size:10px;
}

#comments_list div
{
  margin-top:10px;
  font-size:10px;
}


#new_tag
{
  width:480px;
  height:45px;
}

#tags_list span span
{
  color:#0000EE;
  font-size:10px;
}

#comment
{
  width:200px;
  height:135px;
}

#image_info
{
  float:left;
  padding: 12px 8px 0px 0px;
}

#exif
{
margin:0;
padding:0;
}

#exif td
{
  font-size:12px;
  padding:2px;
  border-bottom:1px solid #e1e1e1;
}

#exif td b
{
  width:90px;
  margin-right:2px;
  vertical-align:top;
}

#newest
{
  padding:5px;
}

#newest h3
{
  font-size:14px;
}

#forma
{
  font-size:13px;
}

#forma tfoot
{
  height:60px;
}

.box
{
  border:1px solid #C0C0C0;
  margin-left:5px;
}

.box caption
{
  text-align: left;
  font-size:14px;
  font-weight:bold;
  padding-top:10px;
  margin-left:5px;
}

#SlideShow_next,
#SlideShow_stop
{
  margin-left:30px;
}

#feeds li
{
  background-image:url('../i/blue-icon-16.gif');
  background-repeat:no-repeat;
  padding-left:20px;
}

#feed_rss
{
  background-image:url('../i/rss-icon-16.gif') !important;
}

#feed_atom
{
  background-image:url('../i/atom-icon-16.gif') !important;
}

#feed_rdf,#feed_siocxml,#feed_siocn3turtle
{
  background-image:url('../i/rdf-icon-16.gif') !important;
}

#buttons
{
  width:160px;
  text-align:center;  
}

/*------------------ rotator ----------------- */
#rotator { /* tab content */
	height: 800px;
	position: relative;
}

#rotator_content { /* main rectangle */
	position: absolute;
	left: 0px;
	width: 500px;
	height: 400px;
	overflow: hidden;
}

#rotator_viewport { /* anchor to rotator */
	position: absolute;
	left: 0px;
	width: 500px;
	height: 400px;
}

#rotator_filter { /* gradient */
	position: absolute;
	background-image: url(images/filter.png);
	width: 500px;
	height: 400px;
}

.rotator { /* long div with images */
	position: absolute;
	left: -100px; /* set for 2nd image */
	width: 5000px;
	text-align:left;
}

/* slider */
#sliderbg
{
	position: relative;
	width: 160px;
	height: 20px;
	background:#e1e1e1;
	border:1px solid #ccc;
	background-image: url("../i/sliderbg.gif");
}

#slider_btn {
	position: absolute;
	width: 10px;
	height: 15px;
	top: 2px;
	background:#bbb;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background-image: url("../i/slider.gif");
	cursor: w-resize;
}

#wait{
  border:1px solid;
  position:absolute;
  top:200px;
  left:400px;
  padding:30px;
  background: #FFFF9B;
  font-size:14px;
  width:126px;
  background-repeat:no-repeat;
  background-position:5% center;
  padding-left:45px;
}

.link
{
  padding:5px;
  color:#00f;
  text-decoration:underline;
  cursor:pointer;
}

.link_disabled
{
  padding:5px;
  color:#ccc;
  cursor:pointer;
}

#map.edit div img { cursor: crosshair; } /* overwrite the cursor on tile image  */

div.calendar
{
  background-color: #FFFFFF;
  padding: 2px 5px;
  border: 1px solid #67A3BD;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-image: url(images/default_widget.png);
  background-repeat: repeat-x;
}

div.calendar_year,div.calendar_month
{
  text-align: center;
}

td.calendar_selected
{
color:red;
}
td.calendar_special
{
background-color: #85B9D2;
}

p#ods_bar_sep
{
  display:block;
}
#filter
{
  font-size:12px;

}
/* quickedit */
.qe {
	cursor: pointer;
	border-bottom: 1px dotted #000;
}
