/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

html body {
  font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
  text-align:center;
  color:#333;
  background: #E1D4C0 url(/weblog/public/images/sides_body.gif) top center repeat-y;
  margin:0px 0px 0px 0px;
}

body.pop {
  background:#F5EDE3;
  }

/* Page Structure
----------------------------------------------- */
#body {
  width:710px;
  padding:10px 0 15px;
  margin:0 auto;
  text-align:left;
  }

.pop #body {
  width:auto;
  padding:10px 15px 15px;
  }
#main {
  background:#fff url("/weblog/public/images/c_top.gif") no-repeat left top;
  padding-top:15px;
  float:left;
  width:100%;
  }
#m2 {
  background:url("/weblog/public/images/c_bot.gif") no-repeat left bottom;
  padding-bottom:15px;
  float:left;
  width:100%;
  }
#m3 {
  border:5px solid #E1D4C0;
  border-width:0 5px;
  padding:0 15px;
  float:left;
  width:670px;
  }
.pop #main, .pop #m2, .pop #m3 {
  background:none;
  padding:0;
  margin:0;
  border-width:0;
  }
#primary {
  width:400px;
  float:left;
  margin-right:20px;
  }
html>body.sp #primary {
  float:right;
  }
#secondary {
  width:245px;
  }
html>body #secondary {
  float:right;
  }
.sp #secondary {
  float:left;
  padding-right:20px;
  }

#newsblock {
  float:left;
  width:395px;
  padding-left:20px;
  }
#promoblock {
  float:right;
  width:245px;
  padding-right:20px;
  }
#addedblock {
  margin:0 20px;
  }

#main-wrap {width:490px; float:right;}
#sidebar {width:200px; display:block; float:left;}
#main {
  background-image:url("/weblog/public/images/c490_top.gif");
  float:left;
  width:490px;
  }
#m2 {
  background-image:url("/weblog/public/images/c490_bot.gif");
  }
#m3 {
  width:450px;
  }

html #header {
  background:#025 url("/weblog/public/images/sides_head.gif") repeat-y center top;
  position:relative;
  top:-4px;
  border-width:0;
  border-bottom:4px solid #47d;
  padding:0;
  }
.pop #header {
  background:#036;
  position:static;
  border-color:#69f;
  }
#h2 {
  position:relative;
  top:4px;
  }
#h3 {
  width:710px;
  height: 40px;
  margin:0 auto;
  padding:15px 20px 14px;
  border-bottom:4px solid #69f;
  text-align:left;
  background:url("/weblog/public/images/bg_logo.gif") no-repeat left top;
  }
#home #h3 {
  padding-top:20px;
  padding-bottom:19px;
  }
.pop #h2, .pop #h3 {
  position:static;
  background:none;
  border-width:0;
  width:auto;
  }
.pop #h3 {
  padding:10px 15px 9px;
  }
#header a {
  color:#9cf;
  padding:0 .1em;
  font-weight:bold;
  text-decoration:none;
  }
#header #logo {
  float:left;
  margin:0;
  padding:0;
  text-decoration:none;
  }
#logo img {
  display:block;
  width:150px;
  color:#fff;
  font-size:180%;
  }
#home #logo img {
  width:346px;
  }
.pop #logo img {
  width:97px;
  }
#header #tag {
  margin:0;
  float:right;
  width:165px;
  height:40px;
  }
#header #tag em {
  position:absolute;
  left:-2500px;
  }
#header #user {
  float:right;
  width:400px;
  margin:0;
  color:#369;
  text-align:right;
  font-size:88%;
  }
#user strong {
  display:block;
  color:#fff;
  font-size:115%;
  line-height:1.2em;
  }

.mod {
  padding-bottom:6px;
  margin-bottom:15px;
  }
.mod2 {
  padding-top:6px;
  }
#sidebar .mod {
  background:url("/weblog/public/images/bg_mod_bot.gif") no-repeat left bottom;
  }
#sidebar .mod2 {
  background:url("/weblog/public/images/bg_mod_top.gif") no-repeat left top;
  }
#sidebar .mod3 {
  border:2px solid #E1D4C0;
  border-width:0 2px 1px;
  border-bottom-color:#F5EDE3;
  padding:2px 10px;
  }
#sidebar .mod2>.mod3 {
  border-bottom-width:0;
  }

#footer {
  clear:both;
  padding:15px 0 0;
  }
#footer div {
  background:#E1D4C0 url("/weblog/public/images/round15_bot.gif") no-repeat left bottom;
  }
.pop #footer div {
  background-image:none;
  }
#footer p {
  background:url("/weblog/public/images/round15_top.gif") no-repeat left top;
  min-height:2px;
  margin:0;
  padding:7px 20px;
  color:#826C55;
  text-align:center;
  font-size:93%;
  line-height:1.2em;
  }
.pop #footer p {
  background-image:none;
  padding:5px 10px;
  text-align:left;
  }
#footer hr {
  display:none;
  }

form {
  display: inline;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

#navbartop {
  position: relative;
  left: 15px;
}

#navbartop * {
  text-align: left;
  color: black;
  margin: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
}

.button {
  border: none;
  padding: 2px 2px;
  margin: 3px 0px;
  font-weight: normal;
  cursor: pointer;
  color: blue;
  background-color: transparent;
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
}

.button:hover {
  color: #003366;
}

.real_button
{
  font-family: arial, helvetica, sans-serif;
  font-size: 9px;
  border: 1px solid #AAAAAA;
  background-color: #CCD4E0;
}


input {  
  border: 1px solid #191970;
  color: black;
  background-color: white;
  align: left;
}

select {
  border: 1px solid #191970;
  color: black;
  background-color: white;
}

textarea {
  border: 1px solid #191970;
  color: black;
  background-color: white;
  width: 220px;
}

div.block {
  text-align: left;
}

div.block div {
  margin: 3px;
}

div.block div#welcome {
  color: white;
  background-color:#3399cc;
  border-bottom:2px solid #EDF5F9;
  padding-bottom:10px;
  text-align: left;
  font-weight: normal;
  padding: 2px;
  font-size: x-small;
  voice-family: "\"}\"", inherit;
  font-size: small;
}


div.block div#title {
  color:white;
  background-color:#3399cc;
  border-bottom:2px solid #EDF5F9;
  padding-bottom:10px;
  text-align: left;
  font-weight: normal;
  padding: 2px;
  font-size: x-small;
  voice-family: "\"}\"", inherit;
  font-size: small;
}

input.button {
  height: 17px;
}

div.nav-column {
  float: left;
  overflow: hidden;
  margin-left: 12px;
}

div.content-column {
  width: auto;
  padding 6px;
  padding-left: 0px;
  padding-right: 250px;
  text-align: center;
}

#selector div {
  font-size: x-small;
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: small; 
}

#selector td{
  font-size: x-small;
  voice-family: "\"}\"", inherit;  
  /* All below here hidden from IE 5 PC */
}

#selector .button {
  text-decoration: none;
  margin: 0px;
  padding-left: 5px;
  text-align: left;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  padding-bottom:1px;  
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: x-small; 
}

#separated * {
  display: block;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #191970;
}

#selector .button#inline {
  display: inline;
}

#inline {
  display: inline;
}

div.info-column {
  background-color:#EDF5F9;
  float: left;
  overflow: hidden;
  margin-right: 12px;
  margin-left: 32px;
  voice-family:inherit;
}

#calendar {
  text-align: center;
  margin: auto;
  font-size: 70%;
}
#calendar td, #calendar th { padding: 1px;}
.calactive {
   background: url("/weblog/public/images/blog-active.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.calactive a {
   color: white;
 }
.calnotactive a {
   text-decoration: none;
 }
.caltoday {
   background: url("/weblog/public/images/blog-today.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.caltoday a {
   color: white;
 }
.calselected {
   color: white;
   border:1px solid #000000;
 }
.calselected a {
   color: white;
 }

.tb-url, .tb-url a {
  font-family:georgia, verdana, arial, sans-serif;
  color:#666;
  font-size:1em;
  font-weight:normal;
  background:inherit;
  width: 100%;
}
.tb-url .url {
  color: #065;
  background: inherit;
  width: 100%;
}

label.button {
  text-decoration: none;
  margin: 0px;
  padding-left: 5px;
  text-align: left;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  padding-bottom:1px;  
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: x-small; 
}

a:active.feedlink,
a:visited.feedlink,
a:link.feedlink,
#left a:active.feedlink,
#left a:visited.feedlink,
#left a:link.feedlink,
a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink,
#left a:active.smallfeedlink,
#left a:visited.smallfeedlink,
#left a:link.smallfeedlink
  {
  font-size: 1em;
  background: #ff6800;
  font-weight: bold;
  color: white;
  border-top: 1px outset white;
  border-left: 1px outset white;
  border-right: 1px outset black;
  border-bottom: 1px outset black;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  text-align: center;
  display: inline;
}
a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink,
#left a:active.smallfeedlink,
#left a:visited.smallfeedlink,
#left a:link.smallfeedlink
  {
  font-size: 0.7em;
  background: #ff6800;
  width: 1.5em;
} 
#left a.inlinelink 
{
  border: none;
  display: inline;
}

#error {
  color: red;
  font-weight: bold;
  background-color: white;
  padding 3px 0px;
  margin 2px;
  text-align: center;
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: x-small; 
}

div.page-container {
  float: left;
  overflow: hidden;
  text-align: left;
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: small; 
}

div.message {
  background:#FFF;
  border: 1px dotted gray;
  font-weight:normal;
  padding:5px;
  font-size: x-small;
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: small; 
}

.state-mark {
  padding-left: 6px;
  color: darkred;
  font-weight: normal;
}

.modified-date {
  color: darkred;
  font-weight: bold;
}

span.modified-date:before {
  content: "[ "
}

span.modified-date:after {
  content: " ]"
}

span.replacing {
  margin: 0;
  padding: 2px;
  color: red;
  border: 1px solid red;
}

div.pubdate {
  color:gray;
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: x-small; 
}

div.post-title {
  background-color: white;
  border: none;
  display: block;
  text-align: left;
  font-weight: bold;
  font-size: 110%;
}

div.post-content {
  background-color: white;
  border: none;
  display: block;
  text-align: left;
  font-size: 100%;
}

div.post-actions {
  background-color: white;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  voice-family: "\"}\"", inherit;
  /* All below here hidden from IE 5 PC */
  font-size: x-small; 
}

div.posts-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 110%;
  font-weight: bold;
}

div.posts-info {
  margin-top: 6px;
  margin-bottom: 6px;
}

div.trackback-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 110%;
  font-weight: bold;
}

div.trackback-contents {
  background-color: white;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.pingback-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 110%;
  font-weight: bold;
}

div.pingback-contents {
  background-color: white;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.referrals-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 110%;
  font-weight: bold;
}

div.referrals-contents {
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.related-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 110%;
  font-weight: bold;
}

div.related-contents {
  background-color: white;
  margin: 3px;
  border: none;
  display: block;
  padding: 0px;
  text-align: left;
  margin-left: 0px;
}

div.comments-title {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 100%;
  font-weight: bold;
}

div.comments-contents {
  background-color: white;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 5px;
}

div.comment-message {
  font-size: 90%;
  background-color: white;
  padding: 6px;
  margin: 6px;
  border: none;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 0px;
  display: block;
}

div.comment-pubdate {
  font-size: 100%;
  background-color: white;
  color: black;
  margin: 3px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  position: relative;
  top: -30px;
  padding: 3px;
}

div.comment-actions {
  font-size: 90%;
  background-color: white;
  margin: 3px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px;
  text-align: left;
}

div.comment-content {
  background-color: white;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  font-size: 80%;
  position: relative;
  top: -30px;
  margin-bottom: -5 px;
}

div.comment-title {
  background-color: white;
  margin: 3px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  padding: 6px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 140%;
  position: relative;
  top: -30px;
}

table#channels {
  font-size: 60%;
  border: 1px solid #191970;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

table#channels th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#channels td {
  padding-left: 0px;
  padding-right: 0px;
}

table#channel-posts {
  border: 1px solid #191970;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

table#channel-posts th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#channel-posts td {
  padding-left: 6px;
  padding-right: 6px;
}

table#channel-posts td#content {
  background-color: white;
}

table#channel-posts a {
  margin-right: 12px;
}

table#upstreamings {
  border: 1px solid #191970;
  margin-bottom: 10px;
  background-color: white;
  width: 97%;
}

table#upstreamings th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#upstreamings td {
  padding-left: 0px;
  padding-right: 0px;
}

table#community {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

table#community th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#community td {
  padding-left: 6px;
  padding-right: 6px;
}

table#members {
  border: 1px solid #191970;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

table#members th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#members td {
  padding-left: 6px;
  padding-right: 6px;
}

table#categories {
  border: 1px solid #191970;
  background-color: white;
  width: 100%;
}

table#categories th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#categories td {
}

div#subtitle {
  font-weight: bold;
  font-style: italic; 
  color: #191970;
}

table#moblogs {
  border: 1px solid #191970;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

table#moblogs th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#moblogs td {
  padding-left: 6px;
  padding-right: 6px;
}

#text {
  text-align: left;
  position: relative; /* Needed for Safari */
  margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */
  voice-family: "\"}\"", inherit;
  font-size: x-small;
}

#text table{
  background-color: white;
  width: 99%;
}

#text h1, h2 {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
  color: black;
}

#text input {
  padding: 0px;
  margin: 0px;
  text-align: left;
  color: #003366;;
  font-family: arial, helvetica, sans-serif;
  voice-family: "\"}\"", inherit;
  font-size: x-small;
}

div.form1 {
  text-align: left;
  position: relative; /* Needed for Safari */
  margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */
  voice-family: "\"}\"", inherit;
  font-size: x-small;
}

.postcomment table {
  margin-bottom: 1em;
 }
.postcomment th {
  text-align: right;
 }
.postcomment .note {
  font-size: 1em;
  font-family: Tahoma, sans-serif;
}

h1 {
  font-size: 185%;
}

h2 {
  font-size: 110%;
  font-style: italic; 
}

.textbox
{
  width: 80px;
  font-family: Verdana, Geneva, Arial, Sans-Serif;
  font-size: 10px;
  border: 1px solid #AAAAAA;
}
/* Tabbed page - begin */
.tab_page
{
    font-size: 10pt;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    width: 100%;
}
.page_tab
{
    font-size: 10pt;
    background-color: #eaeaea;
    text-align: left;
    white-space: nowrap;
    padding: 2px;
    border: 1px solid black;
}
.page_tab_empty 
{
    white-space: nowrap;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:0;
    border-top:0;
}
.page_tab_selected
{
    white-space: nowrap;
    font-size: 10pt;
    background-color: white;
    text-align: left;
    padding: 2px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:0
}
.page_tab a
{
  color: black;
  text-decoration: none;
}
.page_tab a:hover
{
  color: black;
  text-decoration: underline;
}
/* Tabbed page - end */
