/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 9pt;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

form {
  margin: 0;
  padding: 0;
}

abbr {
  border: none;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: blue;
	cursor: pointer;
}

#MTB {
  width: 100%;
  left: 0px;
  right: 0px;
}

#LC {
  width: 170px;
  padding-top: 5px;
  vertical-align: top;
}

#RC {
  padding-top: 5px;
  vertical-align: top;
}

/* Left side within MT */
.page_head {
  width: 100%;
  background-color: #b0cde4;
}

.left_container {
  background-color: #EFEFEF;
  border: 1px solid #7f94a5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  margin: 0 0.5em 0.5em 0.5em;
  width: auto;
}

.left_container div, .left_container a {
  display: block;
  padding: 3px;
  margin: 3px;
}

.left_container a {
  text-decoration: none;
}

.left_container a:hover {
  color: black;
  background: #99b3c5;
}

.navigator_info {
  font-size: smaller;
}

.copyright {
  font-size: 75%;
  text-align: right;
  padding-right: 5px;
  border-top: 1px solid silver;
}

.system_info {
  font-size: 75%;
}

.page_title {
  font-size: 12pt;
  font-weight: bold;
}

.main_page_area {
  background-color: white;
  width: 100%;
}

.page_section_head {
  font-size: 12pt;
  font-weight: bold;
}

table.sub_page_area {
  width: 100%;
}

/* Label */
.error {
  color: red;
  font-weight: bold;
  margin: 3px 0px 3px 0px;
  background-color: white;
  border: 1pt solid red;
  text-align: center;
}

.attention_marker {
  color: #ff0033;
}

/* Fields */
input[readonly] {
  background: #EFEFEF;
}

.readonly {
  background: #EFEFEF;
}

/* lists */
table#list {
  width: 100%;
  border: solid #7f94a5;
  border-width: 1px 1px 2px 1px;
}

table#list th {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  background-color: #b0cde4;
  border: solid #7f94a5;
  border-width: 0px 1px 1px 0px;
}

table#list th:last-child {
  border-width: 0px 0px 1px 0px;
}

table#list thead input {
  font-size: 0.9em;
  font-weight: bold;
  border: none;
  background-color: #b0cde4;
}

/* Panes */
.pane_main {
  width: 100%;
  min-height: 500px;
  position: relative;
}

.pane_left {
  width: 33.3%;
  height: 100%;
  float: left;
  overflow: auto;
  border: solid #7f94a5;
  border-width: 1px
}

.pane_right {
  width: 66.3%;
  height: 100%;
  float: right;
  border: solid #7f94a5;
  border-width: 0px;;
}

#polls_header {
  font-size: 1em;
  padding: 3px;
  background-color: #EFEFEF;
  border: solid #7f94a5;
  border-width: 0px 0px 1px 0px;
}

#polls_subheader {
  font-size: 0.9em;
  padding: 2px;
  background-color: #b0cde4;
  border: solid #7f94a5;
  border-width: 0px 0px 2px 0px;
}

/* rows */
.td_border {
  border: solid #7f94a5;
  border-width: 1px 0px 1px 0px;
}

.tr_0 {
  border: solid #7f94a5;
  border-width: 0px 0px 1px 0px;
  background-color: #F5F5EE;
}

.tr_1 {
  border: solid #7f94a5;
  border-width: 0px 0px 1px 0px;
}

.tr_select {
  background-color: #FFFFCC;
}

.read {
}

.unread {
  font-weight: bold;
}

/* forms */
.from-button {
  margin: .8em 0 .8em 0;
  font-size: .8em;
  font-family: verdana, sans-serif;
  color: #7f94a5;
  font-weight: bold;
  text-decoration: none;
}

input.button {
  margin: .2em 0 .1em 0;
  font-size: .8em;
  font-family: verdana, sans-serif;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px;
  border-color: #7f94a5;
  background: #99b3c5;
}

.navi-button {
  font-size: .8em;
  font-family: verdana, sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-right: 2px;
  padding: 0.1em 0.3em 0.1em 0.3em ;
  border: solid 1px;
  border-color: #7f94a5;
  background: #99b3c5;
	cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.navi-button:hover {
  text-decoration: none;
}

input.nolink {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  border: 0px;
  background-color: inherit;
}

input.nolink2 {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  border: 0px;
  background-color: #EFEFEF;
}

.nolink_a {
  color: #000;
  background-color: #F0F0F0;
}

.nolink_b {
  color: #000;
}

.link_ed {
  font-size: 0.9em;
  font-style: italic;
  color: #4F6C7F;
}

.navbar {
  position: absolute;
  top: 2px;
  right: 5px;
}

.pane {
  color: black;
  background-color: #EFEFEF;
  margin: 0px;
  margin-bottom: 0.5em;
  padding: 1px;
  border: 1px solid #7f94a5;
  vertical-align: top;
}


/* New */
.form-header {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 6px 0;
  padding: 0px 0px 3px 4px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 10px;
  background-color: #b0cde4;
}

.form-footer {
  margin: 6px 0px;
  text-align: center;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 2px;
  border: solid 1px #7f94a5;
  background-color: #b0cde4;
}

.form-body {
  width: 100%;
  font-size: 1em;
}

.form-body td {
  padding: 2px;
}

.form-body th {
  text-align: right;
  padding: 4px;
}

.td_label {
  text-align: right;
  padding-right: 1em;
}

.td_simple {
  border-width: 0px 0px 0px 0px;
}

.tab_page {
  font-size: 10pt;
  border-width: 1px 1px 1px 1px;
  background-color: white;
  padding-left: 1px;
  padding-right: 1px;
  color: black;
  width: 100%;
  height: 100%;
}

.clear {
  width: 100%;
  padding: 0px;
  border-width: 0;
}

.clear td {
  padding: 0px;
  border-width: 0;
}

div.boxHeader {
  background-color: #EFEFEF;
  margin: 0 0 0.5em 0;
  padding: 2px;
  border: 1px solid #7f94a5;
  vertical-align: middle;
}

/* Grids */
.grid {
  width: 100%;
  border: solid #7f94a5;
  border-width: 1px 1px 2px 1px;
}

.grid tr td {
  border-bottom: 1px solid #fff;
}

.polls_grid {
  width: 100%;
}

.polls_grid tr td {
  border-bottom: 1px solid #fff;
}

thead.sortHeader tr {
  background-image: url(../image/stl_blu1_grad.gif);
  background-repeat: repeat-x;
}

thead.sortHeader th {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  padding: 3px 2px 3px 3px;
  border: solid #7f94a5;
  border-width: 0px 1px 1px 0px;
}

thead.sortHeader th.checkbox {
  text-align: center;
  padding: 0;
}

thead.sortHeader th:last-child {
  border-width: 0px 0px 1px 0px;
}

thead.sortHeader a, thead.sortHeader a:link, thead.sortHeader a:visited {
  color: #000;
  font-weight: bold;
  display: block;
  text-decoration: none;
  width: 100%
}

thead.sortHeader a:hover {
  color: #000;
  font-weight: bold;
  display: block;
  text-decoration: underline;
  width: 100%
}

/* New forms */
.new-form-body
{
  font-size: 1em;
  padding: 6px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #EFEFEF;
}

.new-form-body table {
  width: 100%;
  background-color: #EFEFEF;
}

.new-form-body table td {
  padding: 2px;
}

.new-form-body table td.text {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

.new-form-body table th {
  text-align: right;
  white-space: nowrap;
  padding: 4px;
}

.text {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

/* tabs */
div.c1 {
  width: 100%;
}

div.tabs {
  top: 0px;
  font-size: 100%;
  padding: 0px 0px 3px 0px;
}

div.contents {
  padding: 0.5em;
  border: 1px solid #7f94a5;
  background-color: #EFEFEF;
}

div.tabLabel {
  display: inline;
  margin: 0px 2px 0px 0px;
}

div.tabContent {
  font-size: 1em;
  padding: 6px;
}

div.tab {
  cursor: pointer;
  display: inline;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 2px 10px 2px 10px;
  margin-right: 3px;
  position: relative;
  text-decoration: none;
  top: 2px;
  z-index: 100;
}

div.activeTab {
  background-color: #EFEFEF;
  border-color: #7f94a5;
}

/* Toolbars */
img.toolbar {
  display: block;
  float: left;
  margin-top: 10px;
  background-color: #7F94A5;
}

span.toolbar {
  display: block;
  float: left;
  width: 70px;
  padding: 10px 0 10px 0;
  color: #4F56A6;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

span.toolbarLabel {
  font-size: 0.8em;
}

/* Vote */
.vote-poll {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 3em;
}

.vote-question {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 5em;
}

.vote-answer {
  font-size: 1em;
  padding-left: 7em;
}

#vote-result-table {
  width: auto;
  margin-left: 7em;
  border: solid #7f94a5;
  border-width: 1px 1px 2px 1px;
  background-color: #EFEFEF;
}

#vote-result-table thead tr {
  background-image: url(../image/stl_blu1_grad.gif);
  background-repeat: repeat-x;
}

#vote-result-table td {
  padding: 2px;
}

#vote-result-table th
{
  text-align: center;
  white-space: nowrap;
  padding: 4px;
}

/* charts */

.legend {
	background-color: #fff;
	border: 1px solid #000;
	font-size: 90%;
	padding: 1px;
}

.legend_box {
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	margin: 2px;
	float: left;
	font-size: 0px;
}

.textX {
	font-size: 60%;
	text-align: center;
}

.textY {
	font-size: 80%;
}

/* pie chart */
.chart_content {
  padding-top: 1em;
  padding-left: 7em;
}

/* Comments */
div.cm_node_top {
  padding-left: 1em;
  margin-left: 0px;
}

div.cm_node {
  padding-left: 1em;
  margin-left: 0px;
  border-left: 2px #e0e0e0 solid;
}

div.comment-section {
  padding: 0 0px 0 2px;
  font-size: 1.1em;
  font-weight: bold;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #b0cde4;
}

div.comment {
  margin-top: 5px;
}

div.comment-footer {
  margin: 1px;
  color: gray;
}

div.comment-header {
  border-bottom: 1px #cccccc solid;
  font-size: 1.1em;
}

div.comment-button {
  margin: 1px;
  padding-top: 5px;
  border-top: 1px #cccccc solid;
}

input.openID {
  background: #FFFFFF url(/ods/images/login-bg.gif) no-repeat scroll;
  padding-left: 18px;
}

/* Popup Calendar */
.calendar {
	border: 1px solid #000;
	background-color: #FFF;
  z-index: 101;
}

.calendar_year, .calendar_month {
	text-align: center;
	border-bottom: 1px solid #aaa;
	padding: 2px 0px;
}

.calendar table {
	margin-top: 2px;
}

.calendar thead {
	font-weight: bold;
}

.calendar thead td {
	padding: 0px 2px;
}

.calendar td {
	font-size: 75%;
	text-align: center;
}

td.calendar_selected {
	background-color: #faa;
}

.calendar_special {
	color: #c55;
}

.pointer {
  cursor: pointer;
}

span.button {
  background: none repeat scroll 0 0 #99B3C5;
  border: 1px solid #7F94A5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 4px 1px;
  text-decoration:none;
}

img.button {
  margin-bottom: -3px;
}
