/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

div.aux-info-area { 
	position: absolute;
	top: 11em;
	left: 0px;
	width: 15em;
}

.aux-info-area ul{
	list-style: none;
}

div.working-area {
	position: absolute;
	top: 5em;
	left: 10px;
}

div.login-area {
	position: absolute;
	top: 0em;
	left: 50%;
	height: 7em;
	width: 50%;
	text-align: right;
}

div.tools-area {
	position: absolute;
	top: 7em;
	width: 50%;
	height: 4em;
	left: 41em;
	float: right;
	text-align: right;
}

.tools-area ul{
	position: relative;
	list-style: none;
}

.tools-area li{
	display: inline;
	overflow: visible;
	background-color: yellow;
}

/* Comments */
div.cm_node_top
{
  padding-left: 1em;
  margin-left: 0px;
}

div.cm_node
{
  padding-left: 1em;
  margin-left: 0px;
  border-left: 2px #e0e0e0 solid;
}

div.comment
{
  margin: 3px;
  /*background: #f5f5f5;*/
}

a.cmd
{
  border: 1px #aaaaaa solid;
  background: #cccccc;
  margin: 1px;
/*  padding: 0px;
  margin-top: 1px;
  float: right;
  clear: left;*/
}
a.cmd:hover
{
  border: 1px #aaaaaa solid;
  background: #aaaaaa;
}

div.comment-footer
{
    margin: 1px;
    color: gray;
}

div.comment-header
{
   border-bottom: 1px #cccccc solid;
   font-size: 110%;
}
