/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

/*from Yacutia*/

body
{
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, Helv, sans-serif;
    font-size: 12px
}

.txt
{
    background-color: #F0F0F0;
}


.page_head
{
	width: 100%;
	background-color: #033566;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#fraim1 {
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #440000;
    margin: 0px;

}

#fraim1 li{
    float: left;
    height: 21px;
    margin: 2px 2px 0px 4px;
    border: 1px solid #440000;
    background-color: #A3A3A3;
    color: #FFFFFF;
  }

#fraim1 li.on {
    height: 21px;
    margin: 2px 2px 0 4px;
    border: 1px solid #440000;
    border-bottom: 1px solid #dadada;
    background-color:#dadada;
  }

.fraim {
    border-width: 0px 1px 1px 1px;
    border-color: #440000;
    border-style: solid;
    padding-right:0px;
    margin-top:0px;
    background-color: #dadada;
}

.lnav_container
{
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	padding: 5pt;
	width: 100%;
	background-image: url(i/blunav2.jpg);
	background-repeat: repeat-x;
	background-color: #D5DCF0;
	border-top: 1px solid #006699;
	border-right: 1px solid #59B2E4;
	border-bottom: 1px solid #59B2E4;
	border-left: 1px solid #006699;
}

.lmenu_container
{
   padding: 5pt;
   border: 1px solid silver;
   width: 100%
}



.copyright
{
	font-size: 9px;
	text-align: right;
	padding-right: 15px;
	color: #666666;
}


.system_info
{
	font-size: 9px;
}

.page_title
{
  font-size: 12pt;
  font-weight: bold
}

.main_page_area
{
  background-color: white;
  width: 100%
}

.page_section_head
{
  font-size: 12pt;
  font-weight: bold
}

table.sub_page_area
{
  width: 100%
}

/* the main navigation bar */

.nav_bar
{
	width: 100%;
	border: 0;
}

.nav_bar_lvl_1
{

}

.nav_bar_lvl_2
{

}

.nav_link
{
	color: black;
	text-decoration: none;
	font: 12px Verdana, Arial, Helvetica;
}

.nav_link:hover
{
    color: black;
    text-decoration: underline;
}

.nav_lvl_1
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-bottom: 1px solid #999999;
	border-top: 3px solid #FFFFFF;
	margin: 0;
	background-image: url(i/slvnav2.jpg);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	background-repeat: repeat-x;
	border-left-style: none;
}

.nav_lvl_1_sel
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:0 none;
	background-image: url(i/slvnav.jpg);
	background-repeat: repeat-x;
}

.nav_lvl_2
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-bottom:1px solid #999999;
	border-left: 0;
	border-right: 0;
	border-top: 3px solid #FFFFFF;
	margin: 0;
	background-image: url(i/slvnav2.jpg);
	background-repeat: repeat-x;
}

.nav_lvl_2_sel
{
	color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 0;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 0;
	background-image: url(i/slvnav.jpg);
	background-repeat: repeat-x;
}


/*
  BPEL default style
*/


/*body {
  font-family: Verdana, Arial, Helvetica;
  font-size: 15px;
  padding: 1px;
  background: #FFFFFF;
  margin:30px 5px 20px 30px;
  border-width: 0px 1px 0px 1px;
}
*/

#content {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background-color: #efefef;
	border: 1px solid #999999;
  }

#content td{
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #FFFFFF;
    padding: 2px;
  }

#content th{
    background-color: #BBBBBB;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    text-align: center;
    padding: 2px;
  }

#content th.info{
	border-width: 0 1px 1px 0;
	text-align: left;
	padding: 2px;
	background-image: url(i/blnav.jpg);
	background-repeat: repeat-x;
	font-size: 13px;
  }

#subcontent {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
  }

#subcontent td{
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #FFFFFF;
    padding: 2px;
    background-color: #efefef;
  }

#subcontent th{
    background-color: #BBBBBB;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    text-align: center;
    padding: 2px;
  }

#subcontent th.info{
    background-color: #FFD479;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 2px 2px;
  }


#contentlist {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
  }

#contentlist td{
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #FFFFFF;
    padding: 2px;
    border-color: #FFFFFF;
  }

#contentlist th{
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    text-align: center;
    padding: 2px;
  }

#contentlist th.info{
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 2px 2px;
  }

.tr_th
  {
    background-color: #BBBBBB;
    text-align: left;
    padding: 1px 1px;
  }

.tr_ms
  {
    background-color: #B40000;
    color: #FFFFFF;
    text-align: left;
    padding: 1px 1px;
  }

.tr_tr
  {
    text-align: left;
    border: solid #DFDFDF;
    border-width: 0 1px 1px 0;
    padding: 1px 1px;

  }

.tr_under
  {
    text-align: left;
    background-color: #A3A3A3;

  }

.tr_sw
  {
    text-align: left;
    background-color: #efefef;
  }

.tr_title
  {
    background-color: #FFD479;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 2px 2px;
  }

.tr_underNo
  {
    background-color: #A3A3A3;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 2px 2px;
  }

.tr_hint
  {
    background-color: #F1B430;
    border-width: 0 1px 1px 0;
    padding: 2px 2px;
    text-align: left;
  }

.td_sw
  {
    border: solid #DFDFDF;
    border-width: 0 1px 1px 0;
    padding: 1px 1px;
    text-align: left;
    white-space: nowrap;
  }

.td_nw
  {
    border: solid #DFDFDF;
    border-width: 0 1px 1px 0;
    padding: 1px 1px;
    text-align: left;
    white-space: solid;
  }


a {
	text-decoration: none;
	color: blue;
}

a:hover { text-decoration: underline }

a.wikiword:hover { background-color: #DFDFDF }


.m_n
	{
		font-family:verdana,Tahoma,sans-serif;
		font-size:13px;
		text-decoration:none;
		color:#929292;
	}

.m_e
	{
		font-family:verdana,Tahoma,sans-serif;
		font-size:11px;
		text-decoration:none;
	}

.m_y
	{
                color:#ffff99;
		font-family:verdana,sans-serif;
		font-size:15px;
	}


/* form container */

div.fm
{
  background-color: white;
  width: 100%;
}

div.fm_section
{
  border: 1px solid silver;
  width: 100%;
}

div.fm_section_head
{
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
}

div.fm_row
{
  clear: both;
  width: 100%;
}

div.fm_button_row
{
  clear: both;
  width: 100%;
}

div.box {
  background-color: white;
  color: black;
  width: 100%;
  margin: 0px; margin-bottom: 1em; padding: 2px;
  border: 1px solid silver;
  vertical-align: top;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
}

span.fm_label
{
  float: left;
  text-align: right
}

span.fm_ctl_label
{
  float: right;  text-align: left;
}

span.fm_ctl_text
{
  float: right;  text-align: left;
}

span.fm_ctl_btn
{

}

div.help
{
  background-color: FFF0D9;
  border: 1px solid green;
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}
.logout_btn {
		font-family:verdana,Tahoma,sans-serif;
		font-size:11px;
		text-decoration:none;
}
.nav_lvl_3 {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-bottom:1px solid #999999;
	border-left: 0;
	border-right: 0;
	border-top: 3px solid #FFFFFF;
	margin: 0;
	background-image: url(i/brnznavlv3.jpg);
	background-repeat: repeat-x;
}

.wikitable {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	background-color: #efefef;
	border: 1px solid #999999;
  }

.wikitable.td{
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #FFFFFF;
    padding: 2px;
  }

.wikitable.th{
    background-color: #BBBBBB;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    text-align: center;
    padding: 2px;
  }


.wikitable1 {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    background-color: #D5DCF0;
}

.wikitable1.td{
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #FFFFFF;
    padding: 2px;
    background-color: #efefef;
}

.wikitable1.th{
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    text-align: center;
    padding: 2px;
}

div.wiki_menu {
  font: 13px Verdana, Arial, Helvetica, sans-serif;
  padding: 2px;
  width: 100%;
  background-color: #D5DCF0;
  border-top: 1px solid #006699;
  border-left: 1px solid #006699;
}
div.wiki_menu_row {
}

.search {
  font: 13px Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #D5DCF0;
}

.wiki_nav_container
{
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	width: 100%;
	background-color: #D5DCF0;
        border-top: 1px solid #7F94A5;
        border-right: 1px solid  #7F94A5;
        border-bottom: 1px solid #7F94A5;
        border-left: 1px solid #7F94A5;
}

.wiki-nav-container
{
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	width: 80%;
	background-color: #D5DCF0;
	float:	left;
}

.wiki-toolbar-container
{
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	background-color: #D5DCF0;
	float:	left;
}


.wiki_mails_container {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #FFFFBB;
    border-top: 1px solid #006699;
    border-left: 1px solid #006699;
}

.wiki_mails_container.td{
    border-style: solid;
    padding: 1px;
}

.wiki_mails_container.th{
    text-align: left;
    padding: 1px;
}

.wiki_mail_container {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #006699;
    border-left: 1px solid #006699;
}

.wiki_mail_header {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #FFFFBB;
}


.wiki-settings div{
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    border-top: 1px solid #006699;
    border-left: 1px solid #006699;
    border-bottom: 1px solid #006699;
    border-right: 1px solid #006699;
    padding-left: 5px; 
    padding-right: 5px; 
}

.wiki-settings h2 {
  margin-top: 0em; 
  font-size: 120%;
  padding: 0.2em;
  position: relative;
  top: -10px;
  background: #eeeeee;
  border: 1px solid #aaa;
}

.wiki-settings {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
}

div.wiki-error {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    background-color: red;
    border-top: 1px solid #006699;
    border-left: 1px solid #006699;
    border-bottom: 1px solid #006699;
    border-right: 1px solid #006699;
}

.wiki-error h2{
    background-color: white;
}
.wiki-error h3{
    background-color: red;
}

.error
{
    color: red;
    font-weight: bold;
    background-color: white;
    text-align: left;
}

div.wiki_container {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	background-color: #efefef;
	border: 1px solid #999999;
	width="10%"
}
	
#wiki-settings-delicious h2 {
	bgcolor: yellow
}

.dashboard {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	background-color: #99BBBB;
	border: 1px solid #999999;
  }




/* Layout */


div.login
{
  width: 146px;
  padding: 5px;
  margin: 3px;
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid #F1F1F1;
  border-right: 1px solid #ADC9E0;
  border-top: 1px solid #7F94A5;
  border-left: 1px solid #7F94A5;

  font-size: 10pt;
  font-weight: bold;
}


ul.left_nav
{
        /*float: left;
        clear: both;*/
        width: 146px;
        padding: 5px;
        margin: 3px;
        list-style-type: none;
        padding: 5px;
        border-top: 1px solid #F1F1F1;
        border-right: 1px solid #ADC9E0;
        border-bottom: 1px solid #7F94A5;
        border-left: 1px solid #7F94A5;
        background-image: url(images/stl_blu1_grad.gif);
        background-repeat: repeat-x;
	font-size: 10pt;
}

ul.left_nav li
{
  margin: 0;
  padding: 2px;
}

.other-output-toolbar
{
  font: 13px Verdana, Arial, Helvetica, sans-serif;
  width: 20%;
  background-color: #D5DCF0;
  float: right;
  text-align: right;
}

.login-form
{
    float: center;
}
