/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */

/* template: openlink */

body {
  margin: 0;
  padding: 0;
  border: 1px solid darkgray;
  font-size: 0.7em;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: #D9D6CB;
  color: Black;
  z-index: 0;
}

h1 {
  margin: 0px;
  margin-top: 7px; margin-bottom: 5px;
  font-size: 1.8em;
  text-align: left;
}

h2 {
  margin: 0px;
  font-size: 1em;
  text-align: left;
  padding: 4px;
}

a {
  font-family: Verdana, Geneva, Arial, Sans-Serif;
  text-decoration: none;
}
a:active { text-decoration: none }
a:visited { text-decoration: none }
a:hover { text-decoration: underline }

#header {
  margin: 0px;
  background-color : white;
  background-image: url(/weblog/public/images/blogbanner_blank_sml.jpg);
  background-repeat: no-repeat;
  color: #7eb4cf;
  text-align: left;
  width: 100%;
}
#header h1, #header h2 {
  font-family: "Trebuchet MS";
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-left: 10px;
}
#header h2 {
  padding-top: 10px;
  font-size: 1em;
}
#navbartop {
  font-size: 0.8em;
  text-align: right;
  background: #7eb4cf;
  color: #eeeeee;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  width: 100%;
}
#navbartop div {
    padding-right: 1em;
    border-top: 1px #dddddd solid;
}
#navbartop input { padding: 0px; margin: 0px; font-family: inherit; font-size: 100%; }
#navbartop a {
  background: #7eb4cf;
  color: #eeeeee;
}

form
{
  display: inline;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.textbox, textarea, select, .button, .real_button
{
  font-family: Verdana, Geneva, Arial, Sans-Serif;
  font-size: 100%;
  border: 1px solid #AAAAAA;
}

.button
{
  padding-top: 1px;
  border: none;
  background-color: inherit;
}

.real_button
{
  background-color: #CCD4E0;
}

#error {
  color: red;
  font-weight: bold;
  background-color: white;
  text-align: center;
}
#error_left {
  color: red;
  font-weight: bold;
  background-color: white;
  text-align: left;
}

#left div.button a {
  font-size: 0.9em;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  display: inline;
}
#right div.button {
  padding-left: 6px;
}

#pagecontainer {
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  border: 0px;
  background: inherit;
  color: black;
  float:left;
}

div.box { width: 200px;
}

td.box {
  width: 200px;
  background: white;
}
td.box, #texttd {vertical-align: top;
}

td.box div#title {
  border: none;
  margin: 0px;
  padding: 0px;
}

#texttd {
  width: auto;
  border-bottom: 1px solid #DDDDDD;
  /*border-top: 1px solid black;*/
  padding: 10px;
  background: white;
  vertical-align: top;
  text-align: left;
}

#texttop {
  border-color: #99B3C5;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background: white;
  padding: 2px;
  color: #033566;
}

#right {
  border-bottom: 1px solid #DDDDDD;
  /*border-top: 1px solid black;*/
}
#left {
  /*border-top: 1px solid black;*/
  border-right: 1px solid #DDDDDD;
  background-color: #efefef;
  color: black;
}
#left a:active,
#left a:visited,
#left a:link {
  display : block;
  border: solid 1px #efefef;
  color : #000;
  text-decoration : none;
  margin-right : 10px;
  padding : 2px;
}
#left a:hover {
  background-color : #CCD5E0;
  border: solid 1px silver;
}

#left a.button:hover {
  background-color: #efefef;
  display : block;
  border: solid 1px #efefef;
  color : #000;
  text-decoration : none;
  margin-right : 10px;
  padding : 2px;
}

.login, .login th, .login td {
  background-color: #efefef;
  color: black;
}
.login th { text-align: right; }

.roll {
  margin: 0px;
  padding-left: 5px;
  padding-bottom: 6px;
  padding-top: 0px;
  width: 195px;
}

div.box h2 {
  border-bottom: 1px solid #bbbbbb;
}

ul.last-messages {
  padding: 2px;
  list-style-type: none}

#texttd h2 {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 0.5em;
}
.comment {
  padding-top: 1em;
  /*text-align: right;*/
}

.desc {
    font-family: inherit;
    font-size: inherit;
 }
.postcomment table {
  margin-bottom: 1em;
 }
.postcomment th {
  text-align: right;
 }
.postcomment .note {
  padding: 0.3em;
  font-size: 1em;
  font-family: Tahoma, sans-serif;
}
.note {
  width: 180px;
  }

#inline {
  display: inline;
}

#calendar {
 margin-top: 2em;
 margin-bottom: 2em;
 font-size: 0.9em;
 font-family: Tahoma, sans-serif;
 text-align: center;
 border-collapse: collapse;
 border: 1px solid #DDDDDD;
 }
#calendar td, #calendar th { padding: 1px;}
.calactive {
   background: url("/weblog/public/images/blog-active.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.calactive a {
   color: white;
 }
.calnotactive a {
   text-decoration: none;
 }
.caltoday {
   background: url("/weblog/public/images/blog-today.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.caltoday a {
   color: white;
 }
.calselected {
   color: white;
   border:1px solid #000000;
 }
.calselected a {
   color: white;
 }
.tb-url, .tb-url a {
  font-family:georgia, verdana, arial, sans-serif;
  color:#666;
  font-size:1em;
  font-weight:normal;
  background:inherit;
  padding: 0.3em;
  width: 100%;
}
.tb-url .url {
  color: #065;
  background: inherit;
  position: absolute;
  width: 100%;
  left: 500px;
}
#left div.smallfeedlink a {
  font-size: 0.9em;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  display: inline;
}
#right div.smallfeedlink, #right div.channellink {
  padding-left: 6px;
}
#right div.channellink {
  font-size: 0.9em;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
a:active.feedlink,
a:visited.feedlink,
a:link.feedlink,
#left a:active.feedlink,
#left a:visited.feedlink,
#left a:link.feedlink,
a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink,
#left a:active.smallfeedlink,
#left a:visited.smallfeedlink,
#left a:link.smallfeedlink
  {
  font-size: 1em;
  background: #ff6800;
  font-weight: bold;
  color: white;
  border-top: 1px outset white;
  border-left: 1px outset white;
  border-right: 1px outset black;
  border-bottom: 1px outset black;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  text-align: center;
  display: inline;
}
a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink,
#left a:active.smallfeedlink,
#left a:visited.smallfeedlink,
#left a:link.smallfeedlink
  {
  font-size: 0.7em;
  background: #ff6800;
  width: 1.5em;
}
#left a.inlinelink
{
  border: none;
  display: inline;
  padding: 0px;
  margin: 0px;
}
#powered, #copy, #disclaimer{
  background-color: #efefef;
  color: black;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: 0px;
  font-size: 0.7em;
}
#powered {
  font-size: 1.1em;
  padding-top: 10px;
}
#disclaimer {
  padding-bottom: 20px;
}

table.data
{
    margin-top: 2em;
    margin-bottom: 3em;
    border-top: #cccccc 1px solid;
    border-collapse: collapse
}
table.data tr th
{
    border-right: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    background-color: #eeeeee;
  color: black;
}
table.data tr td
{
    border-right: #cccccc 1px solid;
    font-weight: normal;
    border-left: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid
}
caption
{
    background: inherit;
    color: navy;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
  margin: 0px;
  padding: 0px;
}
table.formdata, table.formdatav
{
    margin-top: 2em;
    margin-bottom: 3em;
    border-collapse: collapse
}
table.formdata tr th, table.formdatav tr th
{
  color: black;
}
table.formdatav tr th
{
  text-align: right;
  padding: 2px;
}
table.formdata tr th
{
  text-align: left;
  padding: 2px;
}
table.formdata tr td, table.formdatav tr td
{
  font-weight: normal;
  padding: 2px;
}

table.formdata label
{
  font-weight: bold;
}

div.posts-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 120%;
  font-weight: bold;
}

div.message {
  background:#fff;
  color: black;
  padding: 5px;
  margin: 0px;
  margin-bottom: 2em;
  padding-top: 0px;
  border: 1px solid #DDDDDD;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
 }

div.widget-title {
  width: auto;
}


div.post-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 120%;
  font-weight: bold;
}

div.post-content {
  font-size: 1.0em;
}


div.pubdate {
    font-family: Tahoma, 'Andale Mono', 'Lucida Console', monospace;
  font-size: 1em;
  text-align: right;
    background: white;
    color: black; /*silver;*/
    border-top: 1px solid silver;
 }

div.spread_links
{
  padding-top: 1em;
  text-align: left;
}

div.post-actions {
  padding-top: 1em;
  text-align: right;
}

div.nav-column {
  position: absolute;
  left: 0px;
  width: 200px;
  padding: 6px;
  padding-left: 65px;
}

div.page-container {
  text-align: left;
  padding: 6px;
  margin: auto;
  padding-left: 200px;
  padding-right: 180px;
  background: white;
}

/* Tabbed page - begin */
.tab_page
{
    font-size: 100%;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    width: 100%;
}
.page_tab
{
    font-size: 100%;
    background-color: #eaeaea;
    text-align: left;
    white-space: nowrap;
    padding: 2px;
    border: 1px solid black;
}
.page_tab_empty
{
    white-space: nowrap;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:0;
    border-top:0;
}
.page_tab_selected
{
    white-space: nowrap;
    font-size: 100%;
    background-color: white;
    text-align: left;
    padding: 2px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:0
}
.page_tab a
{
  color: black;
  text-decoration: none;
}
.page_tab a:hover
{
  color: black;
  text-decoration: underline;
}

/* Tabbed page - end */


table.listing
{
  width: 100%;
  background-color: white;
}

table.listing th
{
  background-color: #BBBBBB;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  padding: 2px;
}


tr.listing_header_row
{
}

/* Listing-related commands - top and bottom */

div.listing_top_ctl_grp
{
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 2pt solid green;
  background-color: #d0d0d0;
}

div.listing_bot_ctl_grp
{
  text-align: right;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  border-bottom: 2pt solid green;
  background-color: #d0d0d0;
}

/* see resroweven and resrowodd et al for formatting result tables
     generated by adm_result_to_table (used in ISQL.) */

tr.listing_row_even
{
}

tr.listing_row_odd
{
  background-color: #f0f0f0;
}

td.listing_column
{
}

td.listing_col
{
}

td.listing_col_num
{
  text-align: right;
}

td.listing_col_action
{
  white-space: nowrap;
}

td.listing_count
{
  font-weight: bold;
}

td.listing_col_action a
{
  text-decoration: none;
}

span.listing_hdr_qual
{
  font-size: smaller;
}

.code_listing
{
  font-family: courier, fixed;
}
.copyright
{
  font-size: 9px;
  text-align: right;
  padding-right: 15px;
  color: #666666;
}

.date_separator
{
    padding-top: 5px;
    font-size: 110%;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

#texttd li
{
   margin-left: 10px;
}

.crumbs_cur
{
  font-family: Verdana, Arial, Sans-Serif;
  text-decoration: none;
  color: black;
  font-size: 10pt;
  font-weight: bold;
}

.crumbs
{
  font-family: Verdana, Arial, Sans-Serif;
  text-decoration: none;
  color: #033566;
  font-size: 10pt;
  font-weight: bold;
}

.linkblog_tags td
{
    padding-left: 2px;
    padding-right: 2px;
}

.scroll_area
{
  background-color: white;
  height: 20em;
  width: auto;
  margin-right:12px;
  overflow: auto;
}

div.tags
{
  margin-left: 25px;
}


div.message div.tags
{
  text-align: left;
  border-top: 1px solid silver;
  margin-top: 5px;
  margin-left: 0px;
}


.right
{
    padding-top: 15px;
    color: #7eb4cf;
    font-size: 110%;
    font-family: "Trebuchet MS";
    font-weight: bold;
    text-align: right;
}

.right input
{
    font-size: 100%;
    font-weight: normal;
}

.right a,
.right a:hover,
.right a:visited,
.right a:active
{
    text-decoration: none;
    color: #7eb4cf;
}

#login-info-ctr
{
    display: inline;
}

.login_link
{
    display: inline;
}

#login_btn
{
    display: inline;
}

#login_btn:before
{
    content: " ";
}


div.login_link:before
{
    content: " | ";
}

a.blog_selected
{
   color: gray!important;
}

#arch_crumbs a
{
  font-weight: bold;
  margin-left: 5px;
}

a.smallatomlink,
a:active.smallatomlink,
a:visited.smallatomlink,
a:link.smallatomlink
  {
  font-size: 0.7em;
  background: #1a5aff;
  font-weight: bold;
  color: white;
  border-top: 1px outset white;
  border-left: 1px outset white;
  border-right: 1px outset black;
  border-bottom: 1px outset black;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  text-align: center;
  display: inline;
}

div#arch_gems
{
    margin-top: 5px;
    margin-left: 40px;
}

#search_button
{
    vertical-align: middle;
}

ul.cmds-menu {
  list-style-type: none;
  padding: 0}

ul.cmds-menu li {
  padding: 0}

ul.cmds-menu li a {
  display: block;
  border: 1px #333 outset;}

div.summary_post
{
  margin-bottom: 5px;
}

div.linkblog_link
{
  margin-bottom: 5px;
}

a.title_link
{
  color: #7eb4cf;
  margin-left: 70px;
}

div.individual  {
    font-family:verdana, arial, sans-serif;
    font-weight: normal;
    font-size:11px;
    color:#333;
    line-height:16px;
    text-decoration: none;
    overflow: hidden;
    background: #f3f4ec;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #717543;
    border-bottom: 1px solid #717543;
    margin: 30px;
}


div.individual p {
    font-family:verdana, arial, sans-serif;
    font-weight: normal;
    font-size:11px;
    color:#111;
    line-height:16px;
}

tr.search_result_header
{
  background-color: #eeeeee;
}


div.cm_node_top
{
  padding-left: 1em;
  margin-left: 0px;
}

div.cm_node
{
  padding-left: 1em;
  margin-left: 0px;
  border-left: 2px #e0e0e0 solid;
}

div.comment
{
  margin: 3px;
  /*background: #f5f5f5;*/
}

a.cmd
{
  border: 1px #aaaaaa solid;
  background: #cccccc;
  margin: 1px;
/*  padding: 0px;
  margin-top: 1px;
  float: right;
  clear: left;*/
}
a.cmd:hover
{
  border: 1px #aaaaaa solid;
  background: #aaaaaa;
}

div.comment-footer
{
    margin: 1px;
    color: gray;
}

div.comment-header
{
   border-bottom: 1px #cccccc solid;
   font-size: 110%;
}

a.rss-link
{
}

a.atom-link
{
}

a.rdf-link
{
}

a.mrss-link
{
}

a.itunes-link
{
}

a.podcast-link
{
}

a.opml-link
{
}

a.ocs-link
{
}

a.xbel-link
{
}

a.foaf-link
{
}

a.linkblog-rss-link
{
}

a.linkblog-atom-link
{
}

a.linkblog-rdf-link
{
}


a.summary-opml-link
{
}

a.summary-ocs-link
{
}

a.summary-xbel-link
{
}

#tags_cloud
{
}

#tags_cloud a,
#tags_cloud a:active,
#tags_cloud a:visited,
#tags_cloud a:link,
#tags_cloud a:hover
{
  font: 1em Arial, Verdana, Geneva, Helvetica, sans-serif;
  display: inline;
  border: none;
  color: blue;
  margin: 0px;
  padding: 2px;
  background-color: transparent;
}

#tags_cloud a:hover
{
    text-decoration: underline;
}

#HD-ODS-BAR
{
  padding-bottom:0px;
}

#ods-bar-sep
{
   display: none;
}

ul.tab_bar {
	margin: 0px;
	margin-top: 3px;
	padding: 0px;
	list-style-type: none;
	border-bottom: 1px solid #333;
}
ul.tab_bar li {
	display: inline;
	width: 40px;
	border: 1px solid #333;
	border-bottom: none;
	background-color: #ddd;
  padding-left: 0px;
  padding-right: 0px;

}

ul.tab_bar .tab_selected {
	margin: 0px;
	margin-top: 3px;
	padding: 0px;
	border-bottom: 1px solid #fff;
	background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
}

ul.tab_bar li a {
	text-decoration: none;
	color: inherit;
	margin-left: 8px;
	margin-right: 8px;
}

div.tab_deck {
	border: 1px solid #333;
	border-top: none;
	background-color: #fff;
	padding-top: 8px;
	float: left;
	clear: both;
	width: 100%;
}


.w_content .tab_bar {
	margin: 0px;
	margin-top: 3px;
	padding: 0px;
	list-style-type: none;
	border-bottom: 1px solid #333;
}
.w_content .tab_bar li {
	display: inline;
	width: 40px;
	border: 1px solid #333;
	border-bottom: none;
	background-color: #ddd;
}

ul.tab_bar .tab_selected {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

.w_content .tab_bar li a {
	text-decoration: none;
	color: inherit;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
}

.tab_deck {
	border: 1px solid #333;
	border-top: none;
	background-color: #fff;
	padding-top: 8px;
	float: left;
	clear: both;
	width: 100%;
}


a.collapsible {
    padding-left: 15px;
    background: url(/weblog/public/images/expanded.gif) 5px 75% no-repeat;
}

a.collapsed {
    padding-left: 15px;
    background: url(/weblog/public/images/collapsed.gif) 5px 75% no-repeat;
}


.tweetmeme_button {
      float:left;
      padding: 0 5pt 0 0; 
}


#mpta { display: block; }
#mpb { margin: 3px; }
div.post-content { font-size: 13pt; }
div.pubdate { border: none; display: inline; font-size: 10pt; }
div.post-actions { border: none; display: inline; text-align: left; font-size: 10pt; }

                            
