/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

form {
  margin: 0;
  padding: 0;
}

abbr {
  border: none;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover, .link:hover
{
  text-decoration: underline;
}

.link {
  color: blue;
	cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.visited {
}

.unvisited {
  font-weight: bold;
}

#MTB {
  width: 100%;
  left: 0px;
  right: 0px;
}

#LC {
  width: 170px;
  padding-top: 5px;
  vertical-align: top;
}

#RC {
  padding-top: 5px;
  vertical-align: top;
}

/* Left side within MT */
.page_head {
  width: 100%;
  background-color: #b0cde4;
}

.lc {
  font-size: 12px;
  background-color: #EFEFEF;
  border: 1px solid #7f94a5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  margin: 0 0.5em 0.5em 0.5em;
  width: auto;
}

.lc_none {
  margin: 0 0.5em 0.5em 0.5em;
  width: auto;
}

.lc_closer {
  margin-top: -0.5em;
  z-index: 1;
}

.lc_noborder {
  border-top: 0;
}

.lc a.gems, .lc span.gems2, .lc div {
  display: block;
  padding: 3px;
	margin: 3px;
}

.lc a.gems, .lc span.gems2 {
  text-decoration: none;
}

.lc a.gems:hover, .lc span.gems2:hover {
  color: blue;
  background: #99b3c5;
}

.lc span.gems2 {
  cursor: pointer;
  color: black;
  font-weight: bold;
  background: #b0cde4;
}

.lc_head {
  -moz-user-select: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.navigator_info {
  font-size: smaller;
}

.footer {
	background-color: #99B3C5;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	padding-top: 0.25em;
	height: 1.5em;
}

.footer a:link {
	text-decoration: none;
	color: #FFFFFF;
}

.footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.copyright {
  font-size: 75%;
  text-align: right;
  padding-right: 5px;
  border-top: 1px solid silver;
}

.system_info {
  font-size: 75%;
}

.page_title {
  font-size: 12pt;
  font-weight: bold;
}

.main_page_area {
  background-color: white;
  width: 100%;
}

.page_section_head {
  font-size: 12pt;
  font-weight: bold;
}

table.sub_page_area
{
  width: 100%;
}

/* Label */
.error {
  color: red;
  font-weight: bold;
  margin: 3px 0px 3px 0px;
  background-color: white;
  border: 1pt solid red;
  text-align: center;
}

.attention_marker {
  color: #ff0033;
}

.subpage_header_area {
  margin: 3px 0px 3px 0px;
  border: 1pt solid silver;
}

.page_header_area {
  border: 1pt solid silver;
  position: relative;
  bottom:15pt;
}

/* Fields */
input[readonly] {
  background: #EFEFEF;
}

.readonly {
  background: #EFEFEF;
}

/* Lists */
table#list {
  width: 100%;
  border: solid #7f94a5;
  border-width: 1px 1px 2px 1px;
}

table#list th {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  background-color: #b0cde4;
  border: solid #7f94a5;
  border-width: 0px 1px 1px 0px;
}

table#list th:last-child
{
  border-width: 0px 0px 1px 0px;
}

table#list thead input {
  font-size: 0.9em;
  font-weight: bold;
  border: none;
  background-color: #b0cde4;
}

/* Panes */
.pane_main {
  width: 100%;
  min-height: 500px;
  position: relative;
}

#pane_left {
  width: 30.0%;
  height: 100%;
  float: left;
  overflow: auto;
  border: solid #7f94a5;
  border-width: 1px;;
}

#pane_right {
  width: 69.3%;
  height: 100%;
  float: left;
  margin-left: 0.15%;
}

#pane_right_top {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: solid #7f94a5;
  border-width: 1px
}

#pane_right_bottom {
  width: 100%;
  height: 49.5%;
  margin-top: 0.4%;
  overflow: auto;
  border: solid #7f94a5;
  border-width: 1px
}

#channel_header {
  width: 100%;
  float: left;
  font-size: 1em;
  font-weight: bold;
  background-color: #EFEFEF;
  border: solid #7f94a5;
  border-width: 0px 0px 1px 0px;
}

#channel_header_left {
  float: left;
  padding: 3px;
}

#channel_header_right {
  float: right;
  padding: 3px;
  text-align: right;
}

/* Grid Rows */
.tr_select {
  background-color: #FFFFCC;
}

/* Forms */
.from-button
{
  margin: .8em 0 .8em 0;
  font-size: .8em;
	font-family: verdana, sans-serif;
	color: #7f94a5;
	font-weight: bold;
	text-decoration: none;
}

input.button {
  margin: .2em 0 .1em 0;
  font-size: .8em;
	font-family: verdana, sans-serif;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px;
  border-color: #7f94a5;
  background: #99b3c5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

input.nolink {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  border: 0px;
  background-color: inherit;
}

input.nolink2 {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  border: 0px;
  background-color: #EFEFEF;
}

.nolink_a {
  color: #000;
  background-color: #F0F0F0;
}

.nolink_b {
  color: #000;
}

.link_ed {
  font-size: 0.9em;
  font-style: italic;
  color: #4F6C7F;
}

.navbar {
	position: absolute;
	top: 2px;
	right: 5px;
}

.pane {
  color: black;
  background-color: #EFEFEF;
  margin: 0px;
  margin-bottom: 0.5em;
  padding: 1px;
  border: 1px solid #7f94a5;
  vertical-align: top;
}

.pane-label {
  font-weight: bold;
  background-color: #EFEFEF;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: -1px;
  z-index: 100;
}

/* New */
.form-header {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 6px 0;
  padding: 0px 0px 3px 4px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 10px;
  background-color: #b0cde4;
}

.form-footer {
  margin: 6px 0px;
  text-align: center;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 2px;
  border: solid 1px #7f94a5;
  background-color: #b0cde4;
}

.form-body {
  width: 100%;
  font-size: 1em;
}

.form-body table {
  width: 100%;
  background-color: #EFEFEF;
}

.form-body td {
  padding: 2px;
}

.form-body th {
  white-space: nowrap;
  text-align: right;
  padding: 4px;
}

.tab_page {
  font-size: 10pt;
  border-width: 1px 1px 1px 1px;
  background-color: white;
  padding-left: 1px;
  padding-right: 1px;
  color: black;
  width: 100%;
  height: 100%;
}

.clear {
  width: 100%;
  padding: 0px;
  border-width: 0;
}

.clear td {
  padding: 0px;
  border-width: 0;
}

div.boxHeader {
  background-color: #EFEFEF;
  margin: 0 0 0.5em 0;
  padding: 2px;
  border: 1px solid #7f94a5;
  vertical-align: middle;
}

/* New forms */
.new-form-body {
  font-size: 1em;
  padding: 6px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #EFEFEF;
}

.new-form-body table {
  width: 100%;
  background-color: #EFEFEF;
}

.new-form-body table td {
  padding: 2px;
}

.new-form-body table td.text {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

.new-form-body table th {
  text-align: right;
  white-space: nowrap;
  padding: 4px;
}

td.new-section {
  text-align: center;
  font-weight: bold;
  background-color: #B0CDE4;
}

.text
{
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

/* tabs */
div.c1 {
  width:100%;
}

div.tabs {
	top: 0px;
  font-size: 100%;
  padding: 0px 0px 3px 0px;
}

div.contents {
 	padding: 0.5em;
 	border: 1px solid #7f94a5;
 	background-color: #EFEFEF;
}

div.tabLabel {
  display: inline;
  margin: 0px 2px 0px 0px;
}

div.tabContent {
  font-size: 1em;
  padding: 6px;
}

div.tab {
  cursor: pointer;
  display: inline;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 2px 10px 2px 10px;
  margin-right: 3px;
  position: relative;
  text-decoration: none;
  top: 2px;
  z-index: 100;
}

div.activeTab {
  background-color: #EFEFEF;
  border-color: #7f94a5;
}

a.tab {
  color: #000;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: 2px;
  z-index: 100;
}

div.tab2 {
  background-color: #EFEFEF;
}

a.tab.activeTab {
  background-color: #EFEFEF;
  border-color: #7f94a5 #7f94a5 #7f94a5 #7f94a5;
}

div.activeTab2 {
  background-color: #FFF;
}

/* Toolbars */
span.toolbar {
	float: left;
	width: 70px;
	padding: 10px 0 10px 0;
	color: #4F56A6;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

span.toolbarLabel {
  font-size: 0.8em;
}

img.toolbar {
  display: block;
  float: left;
  margin-top: 10px;
  background-color: #7F94A5;
}

/* Comments */
div.cm_node_top {
  padding-left: 1em;
  margin-left: 0px;
}

div.cm_node {
  padding-left: 1em;
  margin-left: 0px;
  border-left: 2px #e0e0e0 solid;
}

div.comment-section {
  padding: 0 0px 0 2px;
  font-size: 1.1em;
  font-weight: bold;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #b0cde4;
}

div.comment {
  margin-top: 5px;
}

div.comment-footer {
  margin: 1px;
  color: gray;
}

div.comment-header {
  border-bottom: 1px #cccccc solid;
  font-size: 1.1em;
}

div.comment-button {
  margin: 1px;
  padding-top: 5px;
  border-top: 1px #cccccc solid;
}

input.openID {
  background: #FFFFFF url(/ods/images/login-bg.gif) no-repeat scroll;
  padding-left: 18px;
}

.FM_bold {
  font-weight: bold;
}

/* Tree */
#pane_left li {
  cursor: pointer;
}

#pane_left .tree_li_selected {
font-weight:bold;
}

#pane_left .tree_ul_selected {
font-weight:normal !important;
}

.pointer {
  cursor: pointer;
}

span.button {
  background: none repeat scroll 0 0 #99B3C5;
  border: 1px solid #7F94A5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 4px 1px;
  text-decoration:none;
}

img.button {
  margin-bottom: -3px;
}
