/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */

@import url("webdav.css");

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
  color: #335}

img { border: 0;} 

h1,h2,h3 { color: #005a9c }
h2 { font-weight: normal}
h3 { font-weight: normal}

#head { 
  width: 98%;
  background-image: url(images/sparqlheaderbck1.gif);
  height: 75px;
  background-repeat: repeat-x;
  float: none;
  clear: both;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A4BFD5;
  padding-left: 20px;
}

/* 2 col float layout with fixed widths */

#left {
  float: left; clear: left; 
  width: 250px;
  background: #cae3e6 url(images/tr.gif) no-repeat top right}

#left div.r {
  float: left;
  background: transparent url(images/tl.gif) no-repeat top left}

#left div.r div.r {
 background: transparent url(images/br.gif) no-repeat bottom right;
  padding-right: 0;
  margin-right: 0;
  width: 100%;}

#left div.r div.r div.r {
  background: transparent url(images/bl.gif) no-repeat bottom left;
  padding: 15px}

#right { 
  width: 650px;
  float: left;
  clear: right;
  margin-left: 10px}

#r_hack {
  float: left;
  clear: right;
  background: #e8f3f6 url(images/tr_2.gif) no-repeat top right}

#r_hack div.r {
  background: transparent url(images/tl_2.gif) no-repeat top left}

#r_hack div.r div.r {
  background: transparent url(images/br_2.gif) no-repeat bottom right}

#r_hack div.r div.r div.r {
  background: transparent url(images/bl_2.gif) no-repeat bottom left;
  padding: 15px}

.main_col_page { 
  margin: 10px;
}

#foot { 
  font-size: 7pt;
  text-align: right;
  float: left;
  clear: both;
  background-color: #FFFFFF;
  height: 30px;
  padding-top: 10px;
  width: 100%}

#head h1 {
  font-size: 14pt;
  color: #fff;
  padding-left: 400px;}

#nav_bar { 
  float: left; 
  clear: left;
  background-color: #B0CEE5;
  background-image: url(images/lftnav_back_grad1.jpg);
  color: #006699;
  margin: 0;
  padding: 4px 0px 4px 0px;
  width: 220px}

#nav_bar ul { 
  list-style-type: none; 
  padding-left: 0px;
  margin: 0px}

#nav_bar li { 
  font-weight: bold;
  cursor: pointer;
  color: #006699;
  padding-left: 4px}

#nav_bar li.tab_selected {
  background-color: #34b3d1}

#nav_bar .tab:hover {
  background-color: #34B3D1}

#nav_bar li a { color: #006699}

#nav_bar a {
  color: #006699; text-decoration: none;}

ul.home_proc_list {
}

ul.test_cases_list {
  padding-top: 5px;
}

ul.imports_list {
  padding-top: 10px;
}

ul.imports_list li:hover {
  background-color: #34b3d1}

ul.docs_list {
  padding-top: 10px}

ul.docs_list li:hover {
  background-color: #34b3d1}

/* trees */


#dawg_tree, 
#virt_ext_tree, 
#samples_tree {
  clear: both;
  margin: 0;
  padding: 0}
#tutorial_tree {
  clear: both;
  margin: 0;
  padding: 0}

#dawg_tree    li.lvl1,
#virt_ext_tree li.lvl1,
#tutorial_tree  li.lvl1 {
  margin-top: 2px;
  clear: both}
#samples_tree li.lvl1 {
  margin-top: 2px;
  clear: both}

#dawg_tree    li.lvl2,
#virt_ext_tree li.lvl2,
#tutorial_tree  li.lvl2 {
  width:203px;
  margin-top: 2px;
  clear: both;
  font-weight: normal;}
#samples_tree li.lvl2 {
  width:203px;
  margin-top: 2px;
  clear: both;
  font-weight: normal;}

#dawg_tree    li.lvl2:hover,
#virt_ext_tree li.lvl2:hover,
#samples_tree li.lvl2:hover {
  background-color: #d9f1f7}
#tutorial_tree  li.lvl2:hover {
  background-color: #d9f1f7}

#page_sq {
  margin: 0px 5px 0px 5px}

#page_tutorial {
  margin: 0px 5px 0px 5px}

#tab_virt_ext {
  clear: both;
  padding: 0px 0 0 0;
  margin: 0;
} /* to please the IE demon again */

#tab_sq {
  clear: both;
  padding: 0px 0 0 0;
  margin: 0;
} /* to please the IE demon again */

img.corner {
  width: 15px;
  height: 15px;
  border: none;
  display: block !important;
}

#import_data_frame {
  border:0px;
  width: 580px;
  height: 500px;
}

div.pager { 
  float: left; clear: both;
  background-color: #576; 
  width: 99%;
  text-align: center;}

div.pager a { 
  color: #ddd;
  font-weight: bold;
  text-decoration: none; 
  padding-left: 10px;
}

label { font-size: 10pt; font-weight: bold;}
#load,
label.load { font-size: 8pt; font-weight: normal;}

#r_query,
#query {
  height: 30ex;
  width: 580px}

#r_default-graph-uri,
#default-graph-uri {
  width: 580px}

.combo_list_list {
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  overflow: auto}

.combo_list_option:hover {
  background-color: #0080FF;
  color: white}

.combo_list_input {
  width: 580px}

#r_explain,
#explain {
  float: right;
}

/* ---------------- grid -------------- */

#graphs_grid_div table,
#grid_etalon table,
#grid table {
	border-collapse: collapse;
	font: menu;
}

/* ---------------- rows -------------- */

#graphs_grid_div tr,
#grid_etalon tr,
#grid tr {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#graphs_grid_div tr.even,
#grid_etalon tr.even,
#grid tr.even {
	background-color: #f0f0ff;
}

#graphs_grid_div tr.odd,
#grid_etalon tr.odd,
#grid tr.odd {
	background-color: #f8f8ff;
}

#graphs_grid_div tr.hover,
#grid_etalon tr.hover,
#grid tr.hover {
	background-color: #feb;
	border: 2px solid #000;
}

/* ---------------- cols -------------- */
#graphs_grid_div thead td,
#grid_etalon thead td,
#grid thead td {
	background-color: #ebeadb;
	font-weight: bold;
	background-image: url(toolkit/images/Grid_header.gif);
	background-position: 0% 100%;
	background-repeat: repeat-x;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#graphs_grid_div thead td.hover,
#grid_etalon thead td.hover,
#grid thead td.hover {
	background-image: url(toolkit/images/Grid_header_hover.gif);
}

#graphs_grid_div td,
#grid_etalon td,
#grid td {
	border-bottom: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

#graphs_grid_div td.index,
#grid_etalon td.index,
#grid td.index {
	background-color: #aaa;
}

#graphs_grid_div .header_value,
#grid_etalon .header_value,
#grid .header_value {
	padding: 2px 3px;
}

#graphs_grid_div .row_value,
#grid_etalon .row_value,
#grid .row_value {
	padding: 2px 3px;
}

/* ---------------- tabres -------------- */

ul#tabres {
  margin-top: 5px;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid #000;
  margin: 0px;
}

#tabres li.tab {
  margin: 3px;
  padding: 0px 3px;
  display: inline;
  border: 1px solid #000;
  background-color: #aba;
  cursor: pointer;
}

#tabres li.tab_selected {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

#tabres li.tab:hover {
  background-color: #ddd;
}

#tabres li.tab_selected:hover {
  background-color: #fff;
}

#res_container {
  padding:0px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width:100%;
/*  overflow:auto; */
}

#result {
  padding:5px;
}

#request,
#response,
#autoload {
  padding:5px;
  overflow:auto; 
}

/* ---------------- tabres -------------- */

ul#tabgrph {
  margin-top: 5px;
  list-style-type: none;
  text-align: left;
  /* border-bottom: 1px solid #0066A3; */
  margin: 0px;
  padding: 0px;
}

#tabgrph li.tab {
  margin: 0px;
  margin-right: 6px;
  padding: 0px 3px;
  display: inline;
  border: 1px solid #0066A3;
  background-color: #A0D0E4;
  cursor: pointer;
}

#tabgrph li.tab_selected {
  border-bottom: 1px solid #E8F3F6;
  background-color: #E8F3F6;
}

#tabgrph li.tab:hover {
  background-color: #ddd;
}

#tabgrph li.tab_selected:hover {
  background-color: #E8F3F6;
}


/* ---------------- other -------------- */
.ctl_right {
  float:right;
}


/* ---------------- Warning -------------- */

#warning
{
  border: 4px dashed red;
  background-color: yellow;
  padding: 8px;
  margin-bottom: 8px;
}


/* ---------------- dawg -------------- */
.w3cdawglink{
  float:right;
}

#dawg_content table,
#virt_ext_content table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

#dawg_content table > tbody th,
#virt_ext_content table > tbody th {
  border: 1px solid #8888aa; 
  text-align: center;
  font-weight: bold;
}

#dawg_content table > tbody td,
#virt_ext_content table > tbody td {
  border: 1px solid #8888aa; 
  background-color: #f7f8ff;
  padding: 0.5ex;
  font-family: courier,monospace;
}

#dawg_content div.query,
#virt_ext_content div.query,
#sq_content   div.query {
  white-space: pre;
  border: 1px solid #8888aa; 
  font-family: courier,monospace;
  background-color: #f7f8ff;
  padding: 5px;
  font-size: 88%; 
  margin-top: 1em;
  color: black;
} 

#tutorial_content div.query,
#dawg_content div.approval,
#virt_ext_content div.approval {
  font-weight: bold;
}
#page_dawg h2,
#page_virt_ext h2,
#page_sq h2,
#page_tutorial h2,
#dawg_content h1,
#virt_ext_content h1,
#sq_content   h1,
#tutorial_content   h1,
#dawg_content h2,
#virt_ext_content h2,
#sq_content   h2,
#tutorial_content   h2,
#dawg_content h3,
#virt_ext_content h3,
#sq_content   h3 { color: #005A9C; background: white }
#tutorial_content   h3 { color: #005A9C; background: white }
#dawg_content h1,
#virt_ext_content h1,
#sq_content   h1 { font: 170% sans-serif }
#tutorial_content   h1 { font: 170% sans-serif }
#dawg_content h2,
#virt_ext_content h2,
#sq_content   h2 { font: 140% sans-serif }
#tutorial_content   h2 { font: 140% sans-serif }
#dawg_content h3,
#virt_ext_content h3,
#sq_content   h3 { font: 120% sans-serif }
#tutorial_content   h3 { font: 120% sans-serif }
#dawg_content h4,
#virt_ext_content h4,
#sq_content   h4 { font: bold 100% sans-serif }
#tutorial_content   h4 { font: bold 100% sans-serif }
#dawg_content h5,
#virt_ext_content h5,
#sq_content   h5 { font: italic 100% sans-serif }
#tutorial_content   h5 { font: italic 100% sans-serif }
#dawg_content h6,
#virt_ext_content h6,
#sq_content   h6 { font: small-caps 100% sans-serif }
#tutorial_content   h6 { font: small-caps 100% sans-serif }

/* ---------------- tools -------------- */

.tools_but {
  width:190px;
  font: Icon;
  border: 1px Solid ThreeDShadow;
  background: Window;
  color: WindowText;
  margin: 2px;
}
