/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 9pt;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

form {
  margin: 0;
  padding: 0;
}

abbr {
  border: none;
}

a {
  text-decoration: none;
}

a:active, .link:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: blue;
	cursor: pointer;
}

#MTB {
  width: 100%;
  left: 0px;
  right: 0px;
}

#LC {
  width: 180px;
  padding-top: 5px;
  vertical-align: top;
}

#RC {
  padding-top: 5px;
  vertical-align: top;
}

/* Left side within MT */
.page_head {
  width: 100%;
  background-color: #b0cde4;
}

.lc {
  font-size: 12px;
  background-color: #EFEFEF;
  border: 1px solid #7f94a5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  margin: 0 0.5em 0.5em 0.5em;
  width: auto;
}

.lc_none {
  margin: 0 0.5em 0.5em 0.5em;
  width: auto;
}

.lc_closer {
  margin-top: -0.5em;
  z-index: 1;
}

.lc_noborder {
  border-top: 0;
}

.lc a, .lc div, .lc .gems {
  color: blue;
	cursor: pointer;
  display: block;
  padding: 3px;
  margin: 3px;
}

.lc a {
  text-decoration: none;
}

.lc a:hover, .lc .gems:hover {
  color: blue;
  background: #99b3c5;
}

.gems2 {
  font-weight: bold;
  background: #b0cde4;
}

.lc_head {
  -moz-user-select: none; 
  cursor: pointer; 
  font-size: 1em;
  font-weight: bold;
}

.navigator_info {
  font-size: smaller;
}

.copyright {
  font-size: 75%;
  text-align: right;
  padding-right: 5px;
  border-top: 1px solid silver;
}

.system_info {
  font-size: 75%;
}

.page_title {
  font-size: 12pt;
  font-weight: bold;
}

.main_page_area {
  background-color: white;
  width: 100%;
}

.page_section_head {
  font-size: 12pt;
  font-weight: bold;
}

table.sub_page_area {
  width: 100%;
}

/* Label */
.error {
  color: red;
  font-weight: bold;
  margin: 3px 0px 3px 0px;
  background-color: white;
  border: 1pt solid red;
  text-align: center;
}

.attention_marker {
  color: #ff0033;
}

.subpage_header_area {
  margin: 3px 0px 3px 0px;
  border: 1pt solid silver;
}

.page_header_area {
  border: 1pt solid silver;
  position: relative;
  bottom:15pt;
}

/* Fields */
input[readonly] {
  background: #EFEFEF;
}

.readonly {
  background: #EFEFEF;
}

/* rows */
.td_border {
  border: solid #7f94a5;
  border-width: 1px 0px 1px 0px;
}

.tr_select {
  background-color: #FFFFCC;
}

/* Menus */
div.menuBar {
  display: inline;
}

a.menuItem {
  font-family: verdana, sans-serif;
  text-align: left;
  font-size: 11px;
}

a.menuButton {
  position: relative;
  top: 0px;
  text-decoration: none;
  z-index: 100;
}

div.menuBar a.menuButtonActive:hover {
  color: #ffffff;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #EFEFEF;
  border: 1px solid;
  border-color: #f0f0f0 #7f94a5 #7f94a5 #f0f0f0;
  margin: 1em 0px 0px 2em;
  padding: 0px 1px 1px 0px;
  position: absolute;
  vertical-align: bottom;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  cursor: default;
  display: block;
  font-size: .8em;
  font-family: verdana, sans-serif;
  font-weight: bold;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #99B3C5;
  color: #ffffff;
}

div.menu div.menuItemSep {
  border-top: 1px solid #7f94a5;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}

/* forms */
.from-button {
  margin: .8em 0 .8em 0;
  font-size: .8em;
  font-family: verdana, sans-serif;
  color: #7f94a5;
  font-weight: bold;
  text-decoration: none;
}

input.button {
  font-size: .8em;
  font-family: verdana, sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin: .2em 0 .1em 0;
  border: solid 1px;
  border-color: #7f94a5;
  background: #99b3c5;
	cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.navbar {
  position: absolute;
  top: 2px;
  right: 5px;
}

/* New */
.form-header {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 6px 0;
  padding: 0px 0px 3px 4px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 10px;
  background-color: #b0cde4;
}

.form-footer {
  margin: 6px 0px;
  text-align: center;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 2px;
  border: solid 1px #7f94a5;
  background-color: #b0cde4;
}

.form-body {
  width: 100%;
  font-size: 1em;
}

.form-body td {
  padding: 2px;
}

.form-body th {
  text-align: right;
  padding: 4px;
}

.td_label {
  text-align: right;
  padding-right: 1em;
}

.td_simple {
  border-width: 0px 0px 0px 0px;
}

.tab_page {
  font-size: 10pt;
  border-width: 1px 1px 1px 1px;
  background-color: white;
  padding-left: 1px;
  padding-right: 1px;
  color: black;
  width: 100%;
  height: 100%;
}

.clear {
  width: 100%;
  padding: 0px;
  border-width: 0;
}

.clear td {
  padding: 0px;
  border-width: 0;
}

div.boxHeader {
  background-color: #EFEFEF;
  margin: 0 0 0.5em 0;
  padding: 2px;
  border: 1px solid #7f94a5;
  vertical-align: middle;
}

/* New forms */
.new-form-body {
  font-size: 1em;
  padding: 6px;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #EFEFEF;
}

.no-border {
  border-width: 0;
}

.new-form-body table {
  width: 100%;
  background-color: #EFEFEF;
}

.new-form-body table td {
  padding: 2px;
}

.new-form-body table td.text {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

.new-form-body table th {
  text-align: right;
  white-space: nowrap;
  padding: 4px;
}

td.new-section {
  text-align: center;
  font-weight: bold;
  background-color: #B0CDE4;
}

.text {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
}

/* tabs */
div.c1 {
  width: 100%;
}

div.tabs {
  top: 0px;
  font-size: 100%;
  padding: 0px 0px 3px 0px;
}

div.contents {
  padding: 0.5em;
  border: 1px solid #7f94a5;
  background-color: #EFEFEF;
}

div.tabLabel {
  display: inline;
  margin: 0px 2px 0px 0px;
}

div.tabContent {
  font-size: 1em;
  padding: 6px;
}

div.tab {
  cursor: pointer;
  display: inline;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  padding: 2px 10px 2px 10px;
  margin-right: 3px;
  position: relative;
  text-decoration: none;
  top: 2px;
  z-index: 100;
}

div.activeTab {
  background-color: #EFEFEF;
  border-color: #7f94a5;
}

a.tab {
  color: #000;
  font-weight: bold;
  background-color: #b0cde4;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: 2px;
  z-index: 100;
}

a.tab.activeTab {
  background-color: #EFEFEF;
  border-color: #7f94a5 #7f94a5 #7f94a5 #7f94a5;
}

/* Calendar pane */
.calendar_tab {
  cursor: pointer;
  color: #000;
  font-weight: bold;
  background-color: #FFF;
  border: 1px solid #000;
  border-bottom-width: 0px;
  border-color: #7f94a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  margin: 0px 0px 1px 3px;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  top: 4px;
  z-index: 1;
}

.calendar_tabActive {
  background-color: #EFEFEF;
}

.calendar_button {
  cursor: pointer;
  color: #000;
  font-weight: bold;
  background-color: #FFF;
  border: 1px solid #000;
  border-color: #7f94a5;
  margin: 0px 0px -3px 2px;
  padding: 2px 10px 2px 10px;
  position: relative;
  text-decoration: none;
  font-size: 85%;
  z-index: 1;
}

/* Small Calendar Left*/
.C_monthtable {
  border-bottom: 1px solid #FFFFFF;
  padding: 0pt;
  width: 100%;
}

.C_monthtable td {
  font-family: Verdana;
  font-size: 85%;
  padding: 2px;
  text-align: center;
}

.C_heading {
  color: #112ABB;
  cursor: pointer;
  vertical-align: middle;
}

.C_prev, .C_next {
  cursor: pointer;
  font-size: 125%;
  padding-bottom: 6px;
}

.C_cur {
  font-family: Verdana, Sans-serif;
  font-size: 78%;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 4px;
  text-align: center;
}

.C_dayh {
  cursor: default;
  font-size: 78%;
}

.C_day_left {
  border-left: 1px solid #A2BBDD;
}

.C_day_right {
  border-right:1px solid #FFFFFF;
}

.C_day_top {
  border-top: 1px solid #A2BBDD;
}

.C_offmonth {
  color: #888888;
}

.C_weekday {
  background: #FFFFFF none repeat scroll 0%;
}

.C_weekday2 {
  background: #F8F8F8 none repeat scroll 0%;
}

.C_weekday_selected {
  background: #AACCEE none repeat scroll 0%;
}

.C_weekend {
  background: #E8EEF7 none repeat scroll 0%;
}

.C_weekend_selected {
  background: #99BBDD none repeat scroll 0%;
}

.C_today {
  background: #99AABB none repeat scroll 0% !important;
  border-color:#556677 rgb(170, 187, 204) rgb(170, 187, 204) rgb(85, 102, 119) !important;
  border-style:solid !important;
  border-width:1px !important;
  color: #FFFFFF;
}

.C_today_selected {
  background: #557799 none repeat scroll 0% !important;
  border-color: #224466 rgb(153, 187, 221) rgb(153, 187, 221) rgb(34, 68, 102) !important;
  border-style: solid !important;
  border-width: 1px !important;
  color: #FFFFFF;
}

/* Big Calendar Events */
.CE_container {
  padding: 10px;
  margin-top: 2px;
  border: solid #7f94a5;
  border-width: 1px;;
  background-color: #EFEFEF;
  position: relative;
}

.CE_main {
  width: 100%;
  min-height: 320px;
  height: 560px;
  position: relative;
  background-color: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
}

.CE_name {
  font-weight: bold;
  font-size: 90%;
}

.CE_table {
  width: 100%;
  background-color: #FFF;
}

.CE_row {
  height: 20px;
}

.CE_row_week {
  height: 100px;
}

.CE_row_month {
  height: 120px;
}

.CE_cell {
  font-size: 90%;
  padding: 0px;
  vertical-align: top;
  border-bottom: 1px solid #EFEFEF;
}

.CE_cell_today {
  background-color: #FFFFDF;
}

.CE_cell_pointer {
  cursor: pointer;
}

.CE_cell_odd {
  border-bottom: 1px dotted #EFEFEF;
}

.CE_cell_time {
  width: 6%;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
  vertical-align: top;
  padding-right: 5px;
  background-color: #F8F8F8;
}

.CE_cell_bottom {
  border-bottom: 0px;
}

.CE_cell_middle {
  border-right: 1px solid #EFEFEF;
}

.CE_cell_week {
  width: 12%;
  vertical-align: top;
}

.CE_cell_header {
  cursor: pointer;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
  padding-right: 5px;
}

/* Events */
.EV {
  cursor: pointer;
  font-size: 85%;
  padding-left: 3px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #FEFEFE;
}

.EV_time {
  font-style: italic;
  padding-right: 5px;
}

.EV_delete {
  color: red;
  font-weight: bold;
}

.EV_subject {
  font-weight: bold;
  width: 100%;
}

.EVL {
  cursor: pointer;
}

.EVL_duration {
  font-size: 90%;
}

.EVL_time {
  font-style: italic;
  font-size: 90%;
}

.EVL_subject:hover,
.EVL_subject:visited {
  text-decoration: none;
}

.EVL_subject {
  font-weight: bold;
  text-decoration: none;
}

.chip .chipbody {
  width: 100%;
  color: #FFF;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.chip * {
  -moz-user-select:none;
}

.ss_color {
  float: left;   
	width: 60px;
	height: 14px;
	border: 1px solid #000;
}

/* Comments */
div.cm_node_top {
  padding-left: 1em;
  margin-left: 0px;
}

div.cm_node {
  padding-left: 1em;
  margin-left: 0px;
  border-left: 2px #e0e0e0 solid;
}

div.comment-section {
  padding: 0 0px 0 2px;
  font-size: 1.1em;
  font-weight: bold;
  border: solid #7f94a5;
  border-width: 1px 1px 1px 1px;
  background-color: #b0cde4;
}

div.comment {
  margin-top: 5px;
}

div.comment-footer {
  margin: 1px;
  color: gray;
}

div.comment-header {
  border-bottom: 1px #cccccc solid;
  font-size: 1.1em;
}

div.comment-button {
  margin: 1px;
  padding-top: 5px;
  border-top: 1px #cccccc solid;
}

input.openID {
  background: #FFFFFF url(/ods/images/login-bg.gif) no-repeat scroll;
  padding-left: 18px;
}

.pointer {
  cursor: pointer;
}

span.button {
  background: none repeat scroll 0 0 #99B3C5;
  border: 1px solid #7F94A5;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  padding: 2px 5px 0px;
  text-decoration:none;
	cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

img.button {
  margin-bottom: -3px;
}
