/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

body{font-size:100%}
body, div,span,p,td,th,input,select,textarea,button,h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-family:Tahoma,Helvetica,Sans-Serif;}
textarea, select {font-size:100%}
/* Space Title and Tag Line*/
.spaceTitle{font:normal 105% tahoma,arial;}
.spaceTag{font:bold 70% tahoma;}
.settingsHead{font:bold 80% tahoma;padding:5 10 5 10;}
.bvTitle{font:bold 14px Tahoma,Verdana,Arial;}
/* End Visitor View*/
/*HomePage*/
.hp{background-color:#ffffff;}
.hp td, .hplink{color:#ffffff;}
.hptopbg{font:110% Franklin Gothic Medium;background:url(../../editorial/default/images/head_back.gif);}
.hporangetbl{background:url(../../editorial/default/images/main_top_back.gif);color:#ffffff;}
.hplorangetbl{background-color:#ec6e20;}
.htitle{font-size:130%;}
.hporangehdr,.hpbluehdr{font-size:110%;font-weight:bold}
.hpbluebg{background-color:#88b2cf;}
.hpbbg{background:url(../../editorial/default/images/main_top_back.gif);}
.hppartnersec{background-color:#ec6e20;font-weight:bold;font-size:80%;}
.hpbluesection td, .hppartnertbl td{color:#000000;}
.hpbullet li{color:#004377;}
.fixedTable{table-layout:fixed}
.ellipse{text-overflow:ellipsis;overflow:hidden;}
/*Button*/
.midbutton {font-weight:bold;color:#ffffff;font-size:14px;}
.midbuttonbg {background:url(../../editorial/default/images/but_str.gif);}
.midbuttonbg a:hover{text-decoration:none}
.bold, strong{font-weight:bold;}
input.button{padding:0 4;}
.gptop .bline{width:780px;}
.gptop div{padding:3px 0 3px;}
.sep, .graysep{font-size:11px;}
/*.modhead{font-weight:bold;padding:2px 3px 2px 3px;}*/
hr{height:1px;}
.subnav tr td{padding:0 8px 0 8px;font-size:71%}
.bluebox{font-size:140%}
.beNormalTab,.beborderleft,.beSelectedTab,.bePreviewSelectedTab,.beBlogNormalTab{font-size:100%}
.topline, .shdrbg{width:779px;}
.red {color: Red}
/* CSS for popup */
table#partPopup td {font-size: 8pt;padding: 3px}
.beRTEDL, #previewbox{font-size:100%;}
.beBtn input {font-size:100%;padding:0 2 2 2;height:24;}
.bold, a.entryttl{font-weight:bold}
.searchtitle{font-weight:bold;padding-bottom:3px;}
.bvTitle{font:bold 14px;}
a.belink, a.belink:hover {text-decoration:none;font-weight:bold;cursor:hand;}
.ElementFrame{border:0px none;width:100%;font-size: 100%;font-family: Verdana;}
.ElementFrameD{border:0px none;width:100%;font-size: 145%;font-family: Verdana;height:100%;}
.LayoutContainer{WIDTH: 100%; HEIGHT: 100;font-size: 135%;font-family: Verdana;}
.LayoutContainer .ElementFrame{font-size:145%;}
.Part {cursor:hand; font-weight:bold;}
.SUHead{padding:2px; padding-left:10px; font-size:160%; color:#ffffff;}
.SUWiz .step {vertical-align: top; font: Bold 14pt Tahoma,Helvetica,Sans-Serif;color: #004377}
.ImgTD{font-size:120%; background-repeat:no-repeat; color: white; padding:0 0 5 7;}
.settingsHead{font-size:71%}
.editBox{height:17px;font-family:Tahoma,Helvetica,Sans-Serif;font-size:11px;width:180px}
.ErrorActionText { font-weight: bold; color: Red; }
.NormalActionText { font-weight: bold; }
/* Layout CSS */
#layoutManager {width:778px;}
spaces\:layout #LayoutManager {table-layout:fixed;}
.OneCol #MainFocus {width:778px}
.ClassicThreeCol #MainFocus {width:418px}
.BackwardsTwoCol #MainFocus, .ClassicTwoCol #MainFocus {width:598px}
.ZigZagSpanFirst spaces\:widget {width: 50%;display: inline;vertical-align: top;padding:0px 3px 8px}
.ZigZagSpanFirst spaces\:widget.FullRegionWidth, .TopToBottom spaces\:widget {width: 100%;display:block;padding-bottom:8px}
#SupplementalE, #SupplementalW {width: 180px}
.SymmetricTwoCol #MainFocus, .SymmetricTwoCol #SupplementalE {width: 50%}
input.editButtons {color: black;height: 20px; font-size: 11px}
.partDetail {width:100%}

/*others*/
body, .gptop div, .gptop a, .shdrbg{background-color:#0F609C;}
.shdrbg{background-image:url(/weblog/public/images/header.gif);background-repeat:repeat-x;}
.mainbody, .TOSBg{background-color: #FFFFFF;}
.mainbody{background-repeat:repeat;;}
.secondaryseltab{background-color:#0A5C98}
.taskbar, .SUContentPane, .SUBody, .SUWizPg, .whiteBody, .hdrbg_w, .partsmb, .mb, .bvSectionContent tr td, .mswhiterow, .MPInfo, .SUMain, .bluebox, .catmb{background-color:#FFFFFF}
.bvSectionTitle tr td, .bvSectionTitlePC tr td,.blankspace {background-color: #FFFFFF}
.altListRow, .msbluerow, .hdrbg,.subnav, .mib, .searchsubnav, .beSelectedTab, .blueBottom, .bePreviewSelectedTab, .beborderleft, .beborderleftdarkbg, .MPEdit, .blueNB, .PicTab, .ProfileQuote{background-color: #EEF5FC}
.line, .bvSectionContent .line,.tpphoto {background-color: #cccccc}
.bvError, .bvError table, .bvSectionContentY tr td {background-color: #ffffdd}
.MPQuot {background-color: #D0DBF4}
.blackline, .photoFolderHL{background-color: #000000}
.SULayoutArea, .abTitle, .abTopRow {background-color: #EEF5FC}
.SaveRow, .BottomPanel{background-color: #E9EEF9}
.SULeftNav{background-color:#A1C3DF}
.SUExample TD {background-color: #dbdbdb}
.SUWiz{background-color: #79B0CB}
.beborderleftdarkbg, .beNormalTab, .beBlogNormalTab{background-color: #E9EEF9}
.mainnav, .mainsel {background-color: #0A5C98}
.mainseltab, .mainseltab2, .secondarysel, .secondarynav{background-color: #3D87BF}
.LayoutMainElement{background-color: #CED7EF}
.LayoutMainElementD{background-color: #cccccc;}
.LayoutWellElement{background-color:#A0A0A0;}
.LayoutWell{background-color: #dddddd;}
.settingsHead{background-color:#FFFFFF;}
.genericBg{background-color:#f2f2f2;}
.genericFont{color:#f2f2f2;}
.blackFont, #PhotoId a , #AttachedPhotos td, #AttachedPhotos a{color:#000000;}
body, .bvSectionContentPC tr td, .search input, .LayoutMainElement, .LayoutMainElementD, .LayoutWellElement, .belink, .contentFont{color:#000000}
.modhead table{color:#000000}
.subnav a, .MPEdit a{color:#0d5d91}
.txtads, .sfi, .sfi a, .search,.big7, .big7 a,.nsb7, .nsla,.nsb7l, .nsch, .nsc, .nscl, .nsfl, .nss, .nsft, .nsft a, .nssg, .nsf, .adbar , .adbar a, .sf ,.sf a, .shdr, .shdr a, .whitefont, .whitefont a{ color:#FFFFFF; }
.stitle a, .sfl a{color:#ffffff;}
 .previewnav, .mainnav, .mainnav a, .mainnav a:hover, .mainnav a:visited, .secondarynav, .secondarynav a, .secondarynav a:hover,.seondarynav a:visited, .previewnav {color:FFFFFF}
.bvError a, .bvError table a, .bvSectionContentY tr td a {color:#0000FF}
.bvError a, .bvError table a, .bvSectionContentY tr td a {text-decoration:underline;}
.bvError, .bvError table, .bvError tr td, .bvSectionContentY tr td {color:#000000}
.gray, .grayDisabled, .bvSectionContentG tr td {color: #7f7f7f}
.graytitle, .notgray, .mstitle .msheader td, {color:#7f7f7f}
a, .partsmb li{color:0d5d91}
.bvBody li{color:#000000}
.MPEdita {color:#0D5D91}
.SULeftNav{color:#396E9C}
.redtext{color:Red}
.navsep {color:#000000}
.abTitle { border:solid 1px #0A5C98; border-bottom:0px; }
.abHeader { border:solid 1px #0A5C98; border-bottom:0px }
.abDivider1, .abDivider2 { background:#0A5C98; }
.abContents {border:solid 1px #0A5C98;border-top:0px; }
.themeimg{border-color:#999999;}
.taskbar, .bvSection, #maintbl, .searchsubnav , .blueNB{border: 1px solid #789BED }
.subnav, /*.modhead,*/ .partsmb, .mb, .storagebar{border:1px solid #789BED}
.SUExample TD, .SUExampleR{border:solid 1px #ffffff;}
.MPEdit, .SUMain, .SaveRow, .PicTab, .BottomPanel {border: 1px solid #789BED }
.AvatarFrame {10px solid #789BED}
.blueBottom, .blueBox, .beNormalTab, .bePreviewSelectedTab, .beBlogNormalTab, .beSelectedTab, .beborderleftdarkbg, .bline, .beborderleft, .beborderleftdarkbg{border: 1px solid #789BED }
.preview, .preview a, .preview a:hover, .preview a:visited, .mainsel, .maindiv, .mainseltab2, .previewnav{border-bottom:1px solid #789BED}
.txtURL{border:solid 1px #999999;}
.mib, .themesettingsbox, .categoryBox{border:1px solid #789BED;}
.topline{border:1px solid #3D87BF;}
.sfi{border-top:1px solid #2680B4;}
.bvSectionContentY, .bvError, .SUExample {border:solid 1px #000000}
.SULayoutArea{border:5px solid #EEF5FC; border-left:20px solid #EEF5FC}
.sfl{border-bottom:1px solid #2680B4}
.LayoutIBeamTDTop, .LayoutIBeamTDBottom{border:solid 2px #ffae31;}
.LayoutMainElement{border:solid 1px #3169ce}
.LayoutMainElementD{border:solid 1px #333333;}
.LayoutMainColumnD, .LayoutMainColumn{border:solid 1px silver;}
.LayoutWellElement{border:solid 1px #000000;}
.LayoutWell{border:solid 1px black;}
#PartsBucket{border:solid 1px #698AAA;}
.MobileSep{color:#C6C6C6}
.mod_tlc,.mod_trc-rtl{background-image:url(/weblog/public/images/lc.gif);background-position:top left;}
.mod_trc,.mod_tlc-rtl{background-image:url(/weblog/public/images/rc.gif);background-position:top right;}
.sfm{background-image:url(/weblog/public/images/sft_db.jpg);background-position:bottom left;background-repeat:no-repeat;}
.sfi, .sff{background-image:url(/weblog/public/images/nav_gradient.gif);}
.modhead{background-color:#EEF5FC;background-image:url(/weblog/public/images/mid_grad.gif);background-repeat:repeat-x;}
.mod_tlc,.mod_trc,.mod_tlc-rtl,.mod_trc-rtl{background-repeat:no-repeat;}
.partsmb{width:100%; margin: 0px 7px 0px 7px;}
.line, .blackline, .bvSectionContent .line {height:1; width:100%;}
.searchsubnav{height:22px;}
.SUBody{padding:0px;}
.subnav, .searchsubnav{border-width:1 1 0 1;}
.modhead{border-width:1 0 0 0;}
.mod_tlc,.mod_trc,.mod_tlc-rtl,.mod_trc-rtl{border-width:0 0 0 0}
.MPQuot {border-width:1 0 0 0;}
.SUExample TD{border-width:2 0 0 2;}
.SUExampleR {border-right:0 2 0 0;}
.MPEdit {border-width:0 0 1 0;}
.SUMain,.mb {border-width:1 1 1 1;}
.SaveRow{border-width:1 1 0 1;}
.BottomPanel{border-width:0 1 1 1;}
.blueBottom,.catmb{border-top:0px;}
.bePreviewSelectedTab,.blueNB{border-bottom:0px;}
.beBlogNormalTab{border-left:0px;}
.beSelectedTab{border-width:1 1 0 0;}
.bline, .topline{border-width:0 0 1 0;}
.beborderleft{border-width:1 0 0 1;}
.beborderleftdarkbg{border-width:1 0 1 1;}
.LayoutIBeamTDTop{border-width:0 2 2 2;}
.LayoutIBeamTDBottom{border-width:0 2 0 2;}
.star{cursor:hand;}
.pheader{margin: 7px 7px 0px 7px;}
.bvBody{font-size:70%;}
.roll{margin:7px;}
.posts-title{margin-top: 6px; margin-bottom: 6px; font-size: 120%; font-weight: bold;}
.message{background:#fff; color: black; padding: 5px; margin: 0px; margin-bottom: 2em; padding-top: 0px;}
.widget-title{width: auto;}
.post-title{margin-top: 6px; margin-bottom: 6px; font-size: 120%; font-weight: bold;}
.pubdate{font-size: 1em; text-align: right; color: silver; border-top: 1px solid silver;}
.post-actions{padding-top: 1em; text-align: right;}
h2{margin: 0px; font-size: 1.2em; text-align: left; padding: 4px;}
a:active.feedlink,
a:visited.feedlink,
a:link.feedlink,
#left a:active.feedlink,
#left a:visited.feedlink,
#left a:link.feedlink,
a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink,
#left a:active.smallfeedlink,
#left a:visited.smallfeedlink,
#left a:link.smallfeedlink
  {
  font-size: 1em;
  background: #ff6800;
  color: white;
  border-top: 1px outset white;
  border-left: 1px outset white;
  border-right: 1px outset black;
  border-bottom: 1px outset black;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  text-align: center;
  display: inline;
}
a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink,
#left a:active.smallfeedlink,
#left a:visited.smallfeedlink,
#left a:link.smallfeedlink
  {
  font-size: 0.7em;
  background: #ff6800;
  width: 1.5em;
}
#powered, #copy, #disclaimer{
  text-align: left;
  margin: 0px;
  width: 100%;
  padding: 0px;
  font-size: 0.7em;
}
table#members {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 90%;
}

table#members th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#members td {
  padding-left: 6px;
  padding-right: 6px;
}

table#channels {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 100%;
}

table#channels th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#channels td {
  padding-left: 6px;
  padding-right: 6px;
}

table#channel-posts {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 100%;
}

table#channel-posts th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#channel-posts td {
  padding-left: 6px;
  padding-right: 6px;
}

table#channel-posts td#content {
}

table#channel-posts a {
  margin-right: 12px;
}

table#upstreamings {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 100%;
}

table#upstreamings th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#upstreamings td {
  padding-left: 6px;
  padding-right: 6px;
}

table#community {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 100%;
}

table#community th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#community td {
  padding-left: 6px;
  padding-right: 6px;
}

table#categories {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 100%;
}

table#categories th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#categories td {
  padding-left: 6px;
  padding-right: 6px;
}

div#subtitle {
  font-weight: bold;
  font-style: italic; 
  color: #191970;
}

table#moblogs {
  border: 1px solid #191970;
  margin-bottom: 10px;
  width: 100%;
}

table#moblogs th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#moblogs td {
  padding-left: 6px;
  padding-right: 6px;
}

/* Tabbed page - begin */
.tab_page
{
    font-size: 10pt;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    width: 100%;
}
.page_tab
{
    font-size: 10pt;
    background-color: #eaeaea;
    text-align: left;
    white-space: nowrap;
    padding: 2px;
    border: 1px solid black;
}
.page_tab_empty 
{
    white-space: nowrap;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:0;
    border-top:0;
}
.page_tab_selected
{
    white-space: nowrap;
    font-size: 10pt;
    background-color: white;
    text-align: left;
    padding: 2px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:0
}
.page_tab a
{
  color: black;
  text-decoration: none;
}
.page_tab a:hover
{
  color: black;
  text-decoration: underline;
}
/* Tabbed page - end */

#calendar {
 text-align: center;
 border-collapse: collapse;
 border: 1px solid #DDDDDD;
 }
#calendar td, #calendar th { padding: 1px;}
.calactive {
   background: url("/weblog/public/images/blog-active.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.calactive a {
   color: white;
 }
.calnotactive a {
   text-decoration: none;
 }
.caltoday {
   background: url("/weblog/public/images/blog-today.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.caltoday a {
   color: white;
 }
.calselected {
   color: white;
   border:1px solid #000000;
 }
.calselected a {
   color: white;
 }
