/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Ajax Toolkit (OAT) project.
 *
 *  Copyright (C) 2005-2024 OpenLink Software
 *
 *  See LICENSE file for details.
 */
.pivot_table {
	border-collapse: collapse;
	font: menu;
	margin: 1em;
}

.pivot_table th, .pivot_table td {
	border: 2px solid #888;
	padding: 3px;
}

.pivot_table th {
	font-weight: bold;
}

.pivot_table td {
	text-align: right;
}

.pivot_table td.gtotal {
	background-color: #fcc;
}

.pivot_table td.total {
	background-color: #fdd;
}

.pivot_table td.subtotal {
	background-color: #fee;
}

.pivot_table .odd {
	background-color: #ffd;
}

.pivot_table .even {
	background-color: #fff;
}

.pivot_table th.h1 {
	background-color: #aaa;
}

.pivot_table th.h2 {
	background-color: #ddf;
}

.pivot_table td:hover {
	background-color: #ddd;
}

.pivot_chart, .pivot_row_chart, .pivot_col_chart {
	height: 200px;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}
