/*
 *  $Id$
 *  
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *  
 *  Copyright (C) 1998-2024 OpenLink Software
 *  
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *  
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *  
 */

/*
darkest: #191970;
dark: #6495ED;
semidark: #B0C4DE;
light: #D5D5DE;
red: #FF0000;
semired: #FF6464;
gray: gray;
lightred: #FFB6B0;
lightest: #E5E5EE;
brown: #CC0000;
*/

body {
  font-family: arial, helvetica, sans-serif;
  background: #D5D5DE;
  color: #191970;
  margin: 0;
  padding: 0;
  z-index: 0;
}

* {
  font-size: 9pt;
  color: #191970;
}

h1 {
  margin-top: 10px; margin-bottom: 5px; margin-right: 3em;
  font-size: 185%;
}

h2 {
  margin-top: 10px; margin-bottom: 5px; margin-right: 5em;
  font-size: 125%;
  font-style: italic; 
}

form {
  display: inline;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

#header {
  margin: 0px;
  background-image: url(/weblog/public/images/logobg.jpg);
  text-align: right;
  width: 100%;
  height: 65px;
}

#header img {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 65px;
}

#header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  color: white;
}

#header h2 {
  color: white;
}

#navbartop {
  margin-right: 5px;
  padding-right: 3px;
}

#navbartop * {
  text-align: right;
  color: darkred;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
}

.button {
  border: none;
  padding: 2px 2px;
  margin: 3px 0px;
  font-weight: normal;
  cursor: pointer;
  color: darkred;
  background-color: transparent;
  font-family: arial, helvetica, sans-serif;
  text-decoration: none;
}

.button:hover {
  color: red;
  background-color: white;
}

input {
  border: 1px solid #191970;
  color: black;
  background-color: white;
}

select {
  border: 1px solid #191970;
  color: black;
  background-color: white;
}

textarea {
  border: 1px solid #191970;
  color: black;
  background-color: white;
}

div.block {
  border: 1px solid #191970;
  background-color: #E5E5EE;
  margin: 5px 5px;
  padding: 0px;
  color: white;
  text-align: left;
}

div.block div {
  margin: 3px;
}

div.block h3 {
  border: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #191970;
  background-color: #B0C4DE;
  text-align: center;
  font-weight: bold;
}

input.button {
  height: 17px;
}

div.nav-column {
  position: absolute;
  left: 0px;
  width: 160px;
  padding 6px;
}

div.content-column {
  width: auto;
  padding 6px;
  padding-left: 180px;
  padding-right: 180px;
  text-align: center;
}

#selector div {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
}

#selector .button {
  display: block;
  padding: 0px;
  margin: 0px;
}

#separated * {
  display: block;
  padding: 0px;
  margin: 0px;
}

#selector .button#inline {
  display: inline;
}

#inline {
  display: inline;
}

div.info-column {
  position: absolute;
  right: 5px;
  width: 200px;
  padding 6px;
}

#calendar {
  font-size: 80%;
  text-align: center;
  margin: auto;
}
#calendar td, #calendar th { padding: 1px;}
.calactive {
   background: url("/weblog/public/images/blog-active.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.calactive a {
   color: white;
 }
.calnotactive a {
   text-decoration: none;
 }
.caltoday {
   background: url("/weblog/public/images/blog-today.png");
   background-repeat: no-repeat;
   background-position: center;
   color: white;
 }
.caltoday a {
   color: white;
 }
.calselected {
   color: white;
   border:1px solid #000000;
 }
.calselected a {
   color: white;
 }
label.button {
  display: block;
  width: 100%;
}

a:active.smallfeedlink,
a:visited.smallfeedlink,
a:link.smallfeedlink {
  font-size: 6pt;
  background: #ff6800;
  font-weight: bold;
  color: white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid darkred;
  border-bottom: 1px solid darkred;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  text-decoration: none;
}

#error {
  color: red;
  font-weight: bold;
  background-color: white;
  padding 3px 0px;
  margin 2px;
  text-align: center;
}

div.page-container {
  text-align: left;
  padding: 6px;
  margin: auto;
  padding-left: 180px;
  padding-right: 220px;
}

div.message {
  font-size: 90%;
  background-color: white;
  padding: 6px;
  margin: 6px;
  border: 1px solid #E5E5EE;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 0px;
  display: block;
}

div.pubdate {
  font-size: 90%;
  background-color: #B0C4DE;
  color: black;
  margin: 3px;
  border: 1px solid #E5E5EE;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  position: relative;
  padding: 3px;
}

.state-mark {
  padding-left: 6px;
  color: darkred;
  font-weight: normal;
}

.modified-date {
  color: darkred;
  font-weight: normal;
}

span.modified-date:before {
  content: "[ "
}

span.modified-date:after {
  content: " ]"
}

span.replacing {
  margin: 0;
  padding: 2px;
  color: red;
  border: 1px solid red;
}

div.post-title {
  background-color: #B0C4DE;
  margin: 3px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 140%;
  position: relative;
  top: -20px;
}

div.post-content {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  font-size: 80%;
  position: relative;
  top: -10px;
  margin-bottom: -5 px;
}

div.post-actions {
  font-size: 90%;
  background-color: #B0C4DE;
  margin: 3px;
  border: 1px solid #E5E5EE;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px;
  text-align: right;
}

div.posts-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 120%;
  font-weight: bold;
}

div.posts-info {
  margin-top: 6px;
  margin-bottom: 6px;
}

div.trackback-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 140%;
  font-weight: bold;
}

div.trackback-contents {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.pingback-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 140%;
  font-weight: bold;
}

div.pingback-contents {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.referrals-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 140%;
  font-weight: bold;
}

div.referrals-contents {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.related-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 140%;
  font-weight: bold;
}

div.related-contents {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.comments-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 140%;
  font-weight: bold;
}

div.comments-contents {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  margin-left: 24px;
}

div.comment-message {
  font-size: 90%;
  background-color: white;
  padding: 6px;
  margin: 6px;
  border: 1px solid #E5E5EE;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 0px;
  display: block;
}

div.comment-pubdate {
  font-size: 90%;
  background-color: #B0C4DE;
  color: black;
  margin: 3px;
  border: 1px solid #E5E5EE;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  position: relative;
  top: -20px;
  padding: 3px;
}

div.comment-actions {
  font-size: 90%;
  background-color: #B0C4DE;
  margin: 3px;
  border: 1px solid #E5E5EE;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px;
  text-align: right;
}

div.comment-content {
  background-color: #E5E5EE;
  margin: 3px;
  border: none;
  display: block;
  padding: 6px;
  text-align: left;
  font-size: 80%;
  position: relative;
  top: -10px;
  margin-bottom: -5 px;
}

div.comment-title {
  background-color: #D5D5DE;
  margin: 3px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 140%;
  position: relative;
  top: -20px;
}

table#channels {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#channels th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#channels td {
  padding-left: 6px;
  padding-right: 6px;
}

table#channel-posts {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#channel-posts th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#channel-posts td {
  padding-left: 6px;
  padding-right: 6px;
}

table#channel-posts td#content {
  background-color: white;
}

table#channel-posts a {
  margin-right: 12px;
}

table#upstreamings {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#upstreamings th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#upstreamings td {
  padding-left: 6px;
  padding-right: 6px;
}

table#community {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#community th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#community td {
  padding-left: 6px;
  padding-right: 6px;
}

table#members {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#members th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#members td {
  padding-left: 6px;
  padding-right: 6px;
}

table#categories {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#categories th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#categories td {
  padding-left: 6px;
  padding-right: 6px;
}

div#subtitle {
  font-weight: bold;
  font-style: italic; 
  color: #191970;
}

table#moblogs {
  border: 2px solid #191970;
  margin-bottom: 10px;
  background-color: #E5E5EE;
  width: 100%;
}

table#moblogs th {
  border-bottom: 1px solid #191970;
  text-align: center;
}

table#moblogs td {
  padding-left: 6px;
  padding-right: 6px;
}

#navbarmenu {
  padding-left: 10px;
  text-align: left;
  background-color: #E5E5EE;
  border-bottom: 1px solid #191970;
  border-top: 1px solid #191970;
  padding-top: 3px;
  padding-bottom: 3px;
}

#navbarmenu a {
  text-align: left;
  color: darkred;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  margin: 0px;
  width: 100%;
}

/* Tabbed page - begin */
.tab_page
{
    font-size: 10pt;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    width: 100%;
}
.page_tab
{
    font-size: 10pt;
    background-color: #eaeaea;
    text-align: left;
    white-space: nowrap;
    padding: 2px;
    border: 1px solid black;
}
.page_tab_empty 
{
    white-space: nowrap;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:0;
    border-top:0;
}
.page_tab_selected
{
    white-space: nowrap;
    font-size: 10pt;
    background-color: white;
    text-align: left;
    padding: 2px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:0
}
.page_tab a
{
  color: black;
  text-decoration: none;
}
.page_tab a:hover
{
  color: black;
  text-decoration: underline;
}
/* Tabbed page - end */

#syndicate-block ul {
  margin: 0;
  padding: 0;
}
 
#syndicate-block ul li {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
}
