/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */

body {
  text-align: left !important;
}

.error
{
  color: red;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  background-color: white;
  border: 1pt solid red;
  text-align: center;
}

.logo {
  margin: 15px;
}

#ob {
  float: left;
  background-color: #85B9D2;
  width: 100%;
}

#ob_left {
  padding: 5px;
  float: left;
}

#ob_right {
  padding: 5px;
  float: right;
}

div.form {
  width: 600px;
  background-color: #FFF;
  margin: 5px;
}

div.header {
  width: 100%;
  padding: 5px 0 5px 0;
  background-color: #F6F6F6;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

div.footer {
  width: 100%;
  padding: 5px 0 5px 0;
  background-color: #F6F6F6;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

table.form {
  width: 100%;
}

table.form th {
  text-align: right;
  padding-right: 3px;
  margin-bottom: 5px;
  white-space: nowrap;
}

table.form td {
  padding-left: 3px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.tabs {
	margin-top: 24px;
	list-style-type: none;
	padding-bottom: 1px;
	padding-left: 0.5em;
}

.tabs li {
	display: inline;
	padding: 1px 3px;
	margin-left: 0.5em;
	cursor: pointer;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
	background-color: #EFEFEF;
	z-index: 10;
}

.tabs li.tab_selected {
	background-color: #FFF;
}

.tabs li.tab:hover {
	background-color: #FFF;
}

.tabs.tab_signal {
  background-color: #999;
}

input.openID {
  background: #FFFFFF url(/ods/images/login-bg.gif) no-repeat scroll;
  padding-left: 18px;
}

span.button {
  background: none repeat scroll 0 0 #99B3C5;
  border: 1px solid #7F94A5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 5px 2px;
  text-decoration:none;
}

img.button {
  margin-bottom: -2px;
}

table.listing td, table.listing th {
  border-spacing: 0px;
}

div.PF_header {
  width: 100%;
  padding: 5px 0 5px 0px;
  background-color: #F9F9F9;
  font-size: 14px;
  font-weight: bold;
}
table.PF_form {
  width: 100%;
}

table.PF_form th {
  vertical-align: top;
  text-align: right;
  width: 150px;
  padding-right: 3px;
  margin-bottom: 5px;
  white-space: nowrap;
}

table.PF_form td {
  padding-left: 3px;
  margin-bottom: 5px;
  white-space: nowrap;
}
