/*
 *  $Id$
 *
 *  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 *  project.
 *
 *  Copyright (C) 1998-2024 OpenLink Software
 *
 *  This project is free software; you can redistribute it and/or modify it
 *  under the terms of the GNU General Public License as published by the
 *  Free Software Foundation; only version 2 of the License, dated June 1991.
 *
 *  This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 *  General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along
 *  with this program; if not, write to the Free Software Foundation, Inc.,
 *  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 *
 */


body
{
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
  color: #233;
  padding: 0;
  margin: 0;
}

#HD { float: left; clear: left; width: 100%}
#MD { float: left; clear: left; width: 100%;background-color: #e3eff5}

div.page_head
{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  vertical-align: middle
}

a 
{
  text-decoration: none;
  color: blue;
}

h1
{
  font-size: 1.5em; color: black
}

#PC
{ 
  margin-left: 3px;
  margin-top: 15px;
}

#LT
{
  float: left;
  clear: left;
  width: 65%;
  margin-right: 5px;
}

#RT
{
  margin-left: 5px;
  float: left;
  clear: right;
}

.nav_top 
{
  background-color: #85B9D2;
  padding: 5px;
  color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #798F9E;
}

.nav_top a 
{
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

 .nav_top a:hover 
{
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: underline;
}

table.page_content
{
  width: 100%;
}

div.calendar
{
  background-color: #FFFFFF;
  padding: 2px 5px;
  border: 1px solid #67A3BD;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-image: url(images/default_widget.png);
  background-repeat: repeat-x;
}

div.calendar_year,div.calendar_month
{
  text-align: center;
}

td.calendar_selected
{
color:red;
}
td.calendar_special
{
background-color: #85B9D2;
}

div.login
{

}

div.reset
{
	clear: both; float: none
}

.summary
{
	font-size: 90%
}

tr.head
{
	font-weight: bold
}
.artheaders
{
}
.header
{
	FONT-WEIGHT: bold;
}
.artbody
{
	 background-color: #FFFFFF;
	 min-width: 50%;
	 border: 1px solid #67A3BD;
}

#calendar {
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 0.9em;
        font-family: Tahoma, sans-serif;
        text-align: center;
        border-collapse: collapse;
 	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
 }
#calendar td, #calendar th {
	padding: 2px;
	color: #003333;
}
.calactive {
	background: url(images/slvnav.jpg) repeat-x center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
 }
.calactive a {
	color: #333333;
 }
.calnotactive a {
	text-decoration: none;
	color: #666666;
 }
.caltoday {
	background: url(images/blunav3.jpg) repeat-x center;
	color: white;
	border:1px solid #6A7D8B;
	font-weight: bold;
 }
.caltoday a {
   color: #000000;
 }
.tb-url, .tb-url a {
  font-family:georgia, verdana, arial, sans-serif;
  color:#666;
  font-size:1em;
  font-weight:normal;
  background:inherit;
  padding: 0.3em;
  width: 100%;
}
.tb-url .url {
  color: #065;
  background: inherit;
  position: absolute;
  width: 100%;
  left: 500px;
}
h2 {
	font-size: 1em;
}
.listing_row_odd {
	padding: 2px;
	margin: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
}
.listing_row_even {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
	padding: 2px;
}
.login_encapsul {
	padding: 4px;
	margin: 4px;
	background-color: #DAE2E5;
	background-image: url(images/nav_grysteel2.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

div.menu
{
  float:none;
}

table.menubar
{
  width: 100%;
  height: 33px;
  padding: 3px;
  background-color: #85B9D2;
  color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #798F9E;
}

table.menubar a
{
  color: #fff;
}

table.menubar a:hover
{
}
table.menubar .menuitem
{
width: 75px;
}

.nntp_groups_listing 
{
  border: 1px solid #67A3BD;
  padding: 4px;
  margin: 4px;
  background-color: #FFFFFF;
  background-image: url(images/default_widget.png);
  background-repeat: repeat-x;
}

.nntp_groups_listing tr th
{
  text-align: left;
}

.news_summary_encapsul {
  border: 1px solid #67A3BD;
  padding: 4px;
  margin: 4px;
  background-color: #FFFFFF;
  background-image: url(images/default_widget.png);
  background-repeat: repeat-x;
}

.news_view_number
{
  padding: 4px;
  margin: 4px;
  background-color: #DAE2E5;
  background-image: url(images/nav_grysteel2.gif);
  background-repeat: repeat-x;
}

.header_img 
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  background-color: #FFFFFF;
}

.header_top 
{
  font-size: 180%;
  color: #798F9E;
  background-color: #FFFFFF;
  font-weight: bold;
}

#content 
{
}


#content td 
{
    padding: 10px 0px 0px 10px;
}

#content th
{
    background-color: #FFFFFF;
    text-align: center;
    padding: 2px;
}

div.copyright
{
  width: 100%;
  position: relative;
  bottom: 0px;
  font-size: 8pt;
  float: left;
  clear: both;
  text-align: right;
  border-top: 2px solid #fff;
  margin-right: 10px;
  background-color: #fff;
  background-image: url(images/ods_main_footer.png);
}

table.user_id
{
  width: 100%;
}

tr.user_id
{
}

td.user_id
{
  text-align: right;
}

td.last_cell
{
  text-align: right;
}

tr.article_listing_current
{
  background-color: #E3EFF5;
  color: #fff;
  font-weight: bold;
}

tr.rss_list_empty
{
  font-style: italic;
  color: darkgreen;
}

/* Widgets generated by macros in dialog.xsl */

table.conf_dialog
{
  width: 100%;
  background-color: white;
  border: 2px solid black;
}

td.dialog_icon
{
  vertical-align: top;
}

td.dialog_message
{
}

td.dialog_instr
{
  font-style: italic;
}

div.info_dialog
{
  background-image: url(images/nav_grysteel2.gif);  
  background-repeat: repeat-x;
  background-color: #DAE2E5;
  border: 2px solid yellow;
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
}

div.info_dialog h3
{
  font-size: 14pt;
  margin-top: 10px;
}

div.info_dialog img.icon
{
  float: left;
  padding: 10px;
}

/* end dialog.xsl */

a.nntp_group
{
  color: black;
  text-decoration: none;
}

a.nntp_group:hover
{
  color: #67A3BD;
  text-decoration: underline;
}

a.nntp_group:visited
{
  color: black;
  text-decoration: none;
}

a.nntp_group:active
{
  color: red;
  text-decoration: underline;
}

/* Threaded message listing */

a.thr_list_cmd
{
}

a.thr_list_subj
{
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

a.thr_list_subj:hover
{
  text-decoration: underline;
}

a.thr_list_date
{
  color: black;
  text-decoration: none;
}

a.thr_list_date: hover
{
  color: black;
  text-decoration: underline;
}

span.thr_list_from
{
  font-style: italic;
}

span.thr_msg_sel
{
  background-color: #E3EFF5;
}

.ng_subs
{
    margin-bottom: 5px;
}

.ng_subs_thread
{
    margin-left: 10px;
}

#FT_L {
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 8px;
  border: 1px solid #788;
}

#FT_R {
  float: right;
  clear: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #788;
}

#FT_R a {
  text-decoration: none;
  color: inherit
}
#tags_div
{
width:200px;
height:100%;
position:absolute;
padding:5px;
background: #FFFFFF;
border: 1px solid #67A3BD;
}

table.tab_deck
{
  margin: 0;
  padding: 0;
  border: 1px solid #444;}

td.tab_deck
{
  margin:0;padding:0;
}

table.navtab_tabs_ctr {
  margin: 0;
  padding: 0}

tr.navtab_row {
  background-color: #DDDDDD;
}
tr.navtab_row td {
  margin:0px;
  padding:3px 10px 3px 10px;
  border-right: 1px solid #FFFFFF;
}

tr.navtab_row td a { 
  display: block;
  margin: 0;
  padding: 4px;
  text-decoration: none;
  color: #333;
}

td.navtab_sel {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
}

td.navtab_sel a {}

td.navtab:hover {
  background-color: #adf;
}

